doctype html
html(lang="cs")
    head
        meta(content="text/html; charset=utf-8", http-equiv="content-type")
        meta(name="keywords", content="tatra")
        meta(name="description", content="Tatra")
        meta(name="author", content="Jakub Onderka - zerdesign.cz - onderka.jakub@gmail.com")
        meta(name="robots", content="index,follow")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="format-detection", content="telephone=no")
        meta(name="format-detection" content="telephone=no")

        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        title Tatra bank

        // CSS <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        link(rel="stylesheet", type="text/css", href="style.css", media="screen")

    body.login-page
      .wrapper
        .tb-page-header
            .content
                .logo
                .float-lf.padtop40.padleft50
                    span.fs-24 Prihlásenie
                    br
                    span.fs-14 prosím prihlaste sa do systému so svojim uživatelským menom a heslom
                a.float-rg.padtop50 EN


        .w100
          .content
              include includes/login2.pug

      include includes/footer.pug