doctype html
html(lang="cs")
    head
        meta(content="text/html; charset=utf-8", http-equiv="content-type")
        meta(name="keywords", content="tatra")
        meta(name="description", content="Tatra")
        meta(name="author", content="Jakub Onderka - zerdesign.cz - onderka.jakub@gmail.com")
        meta(name="robots", content="index,follow")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="format-detection", content="telephone=no")
        meta(name="format-detection" content="telephone=no")

        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        title Tatra bank

        // CSS <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        link(rel="stylesheet", type="text/css", href="style.css", media="screen")

    body
      .wrapper

        .tb-page-header
            .content
                .logo
                .float-rg.padtop50 User Interface Kit ver.3.0


        // Colors

        .w100.white-bg
          .content

            br
            br

            h1 Colors

            br
            br

            // part 1
            /////////////

            .fblock-p9
                .colorbox.grey-darker-bg
                | #0D0D0D
                span menu strip menu

            .fblock-p9
                .colorbox.grey-dark-bg
                | #191919
                span Primary font shadow

            .fblock-p9
                .colorbox.grey-minus-bg
                | #4D4D4D
                span secondary font icons

            .fblock-p9
                .colorbox.grey-bg
                | #808080
                span third font text

            .fblock-p9
                .colorbox.grey-plus-bg
                | #B3B3B3
                span Header font Highlighter border

            .fblock-p9
                .colorbox.grey-light-bg
                | #CCCCCC
                span inputfild stroke and first text

            .fblock-p9
                .colorbox.grey-lighter-bg
                | #E6E6E6
                span MENU FONT Line

            .fblock-p9
                .colorbox.grey-ultralight-bg
                | #F0F0F0
                span background

            .fblock-p9
                .colorbox.white-bg.app-box-shadow
                | #FFFFFF
                span table bg

            // part 2
            /////////////
            .fblock-p9
                .colorbox.brand-prim-bg
                | #0097FD

            .fblock-p9
                .colorbox.brand-prim-dark-bg
                | #0080EC

            .fblock-p9
                .colorbox.green-bg
                | #0FCE8D

            .fblock-p9
                .colorbox.red-bg
                | #E14C4C

            .fblock-p9
                .colorbox.brand-sec-bg
                | #5D60707

            .fblock-p9
                .colorbox.brand-sec-dark-bg
                | #1D1E23

            .fblock-p9

            .fblock-p9

            .fblock-p9

            .clear

        .content.grind-con

            br
            br

            // Grind system
            h1 Grind

            .grind-box

            .grind-box

            .grind-box

            .grind-box.marright0

            .clear

            br
            br
            br

        .w100.white-bg

            // Buttons
            include includes/buttons.pug
        .white-bg
            .content.grind-con
                br
                br
                // Radio buttons
                .grind-box

                    .radio-buttons
                        input(type="radio", id="radio01", name="radio", value="SHA")
                        label(for="radio01")
                            span
                            | Normal radiobutton

                    .radio-buttons
                        input(type="radio", id="radio02", name="radio", value="OUR")
                        label(for="radio02")
                            span
                            | Normal radiobutton

                    .radio-buttons.disabled
                        input(type="radio", id="radio03", name="radio", value="OUR")
                        label(for="radio03")
                            span
                            | Normal radiobutton

                // Checkbox
                .grind-box

                    .checkbox
                        input#check1(type="checkbox")
                        label(for="check1")
                            | Normal

                    br

                    .checkbox
                        input#check2(type="checkbox")
                        label(for="check2")
                            | Normal

                    br

                    .checkbox.disabled
                        input#check3(type="checkbox", disabled="disabled")
                        label(for="check3")
                            | Normal



                // Link
                .grind-box

                  a Normal link

                  br
                  br

                  a Normal link

                  br
                  br
                  br

                // Dropdown
                .grind-box.marright0

                    a Dropdown
                    .sort.srt-down

                    br

                    ul.tb-dropdown-menu
                        li něco
                        li něco jineho
                        li.selected uplně jine
                        li extra jine

                .clear

        br
        br
        br
        br

        .w100.white-bg

            include includes/select.pug

        br
        br
        br
        br

        .content
            // Inputs
            .gb-3
                .box-big.box-border

                    h1 Inputs


                    .fblock-p2.padright20
                        label Normal
                        select.selectpicker(placeholder="Vyber si údaj")
                            option

                    .fblock-p2.padright20
                        label Normal
                        select.selectpicker
                            option dsfsffsd

                    .clear

                    br
                    br

                    .fblock-p2.padright20
                        .inp
                            label Normal
                            input(type="text")

                    .fblock-p2.padright20
                        .inp.disabled
                            label Disabled
                            input(type="text",disabled="disabled")
                    .clear

                    br
                    br

                    .w100
                        .info-buble
                            h1  Suma celkových výdavkov
                            p   napr. splátky úverov, kreditných kariet, povolené prečerpanie. Do výdavkov sa nepočíta pravidelná réžia domácnosti, faktúry za mobil.

                    br
                    br

                    .fblock-p2.padright20
                        .inp.info
                            label Normal with info
                                div
                            input(type="text")

                    .fblock-p2.padright20
                        .inp.info.disabled
                            label Disabled info
                                div
                            input(type="text",disabled="disabled")

                    .clear

                    br
                    br

                    .fblock-p2.padright20
                        .inp.warning
                            label Warning
                            input(type="text")
                            label.inp-label-after Lorem ipsum dolorem

                    .fblock-p2.padright20
                        .inp.warning
                            label Warnning with text
                            input(type="text")
                    .clear

                    br
                    br

                    .inp.inp-code.marbott40
                        label Normal with currency
                        - for (var i=0; i<4; i++)
                        input(maxlength="1")

                    br
                    br

                    .fblock-p2.padright20
                        .inp.inp-cur.eur
                            label Normal with currency
                            input(type="text")

                    .fblock-p2.padright20
                        .inp.password
                            label Password
                            input(type="password")
                            .strength.pass-str-6
                                // numbers: 1 - 6, 1 -  weak, 6 - strength
                            .clear
                    .clear

                    br
                    br
                    .fb-row
                        .fblock-p2.padright20
                            .inp.search
                                label Search
                                input(type="text")

                        .fblock-p2.padright20
                            .inp.with-keyboard
                                label Input with keyboard
                                input(type="text")
                                .inp-keyboard

                    br
                    br

            .gb-1.gb-last
                .box-big.martop20

                    br
                    br

                    .inp.approved
                        label Pragraph *
                            .label-right-part max.
                                span 140

                        textarea

                    br
                    br


                    .inp.approved
                        label Normal – unauthorized
                        input(type="text")


                    br
                    br

                    .inp.non-approved
                        label Normal – non-approved
                        input(type="text")


                    br
                    br

                    .inp.attachment
                        label Attachment
                        input(type="text",placeholder="Lorem ipsum")

                    br
                    br

            .clear

            br
            br

        .w100.white-bg

            // Progress bar
            .content

                br
                br

                h1 Loader, progress bar, messages

                br

                .fblock-p2

                    .fblock-p2.text-center
                        .loader
                            .ld-inner

                        br
                        br

                    .fblock-p2.text-center
                        .loader.ld-small
                            .ld-inner

                        br
                        br

                    .clear

                .fblock-p2

                    .progress-bar-label In process
                    .progress-bar
                        .inner(style="width: 40%;")

                .clear

            br
            br

            .content
                // Dialogs
                .box-big.grey-darkness-bg

                    br
                    br

                    .fblock50

                        .dialog.dialog-clarification

                            .dialog-title
                                .dialog-sign.sign-yes

                            .dialog-inner
                                h3.green Lorem ipsum dolorem
                                p
                                    | Sed posuere consectetur est at lobortis. Morbi leo risus, porta&nbsp;
                                    span.bold 567890987
                                    | &nbsp;consecteturac.

                            .dialog-footer
                                .center
                                    button Ok

                    .fblock50

                        .dialog.dialog-clarification

                            .dialog-title
                                .dialog-sign.sign-no

                            .dialog-inner
                                h3.red Lorem ipsum dolorem
                                p Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac.

                            .dialog-footer
                                .fblock50
                                    button.alt-btn Cancel
                                .fblock50
                                    button.float-rg Ok
                                .clear

                        .clear

                    .clear

                    br
                    br


                    .dialog

                        .dialog-title
                            .close-button


                        .dialog-inner
                            h3 Ďakujeme, formulár bol úspešne odoslaný.
                            p.padright60
                                | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.&nbsp;
                                a Morbi leo risus
                                | , porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.
                            br
                            br
                            span.grey Aenean lacinia bibendum nulla sed consectetur.

                br
                br


        br
        br
        br
        br

        .w100.white-bg

            //Fonts
            .content.con-typ

                br
                br

                h1 Typography

                br
                br


                .grind-box
                    .blue Nimbus Sans Regular
                    h1 AaBbCcDdEe
                    h1 1234567890

                .grind-box.bold
                    .blue.bold Nimbus Sans Bold
                    h1.bold AaBbCcDdEe
                    h1.bold 1234567890

                .grind-box.italic
                    .blue Nimbus Sans Italic
                    h1 AaBbCcDdEe
                    h1 1234567890

                .grind-box.marright0.light
                    .blue Nimbus Sans Light
                    h1 AaBbCcDdEe
                    h1 1234567890

                .clear

                br
                br
                br
                br

                .fblock50
                    .fs-4xl Nimbus Sans D OT Regular  		28 b
                    br
                    .fs-4xl.grey Nimbus Sans D OT Regular  		28 b
                    br
                    br
                    .fs-3xl Nimbus Sans D OT Regular		25 b
                    br
                    .fs-3xl.red Nimbus Sans D OT Regular		25 b
                    br
                    br
                    .fs-xxl.grey Nimbus Sans D OT Regular			20 b


                .fblock50
                    .fs-xl.bold  Nimbus Sans D OT Bold	17 b
                    br
                    .fs-xl Nimbus Sans D OT Regular	17 b
                    br
                    .fs-xl.grey Nimbus Sans D OT Regular	17 b

                    br
                    br

                    .fs-l Nimbus Sans D OT Regular		15 b
                    br
                    .fs-l.bleu Nimbus Sans D OT Regular		15 b
                    br
                    .fs-l.bold Nimbus Sans D OT Bold		15 b
                    br
                    .fs-l.bold.bleu Nimbus Sans D OT Bold		15 b

                    br
                    br

                    .fs-base.bold Nimbus Sans D OT Bold		14 b
                    br
                    .fs-base.bold.grey Nimbus Sans D OT Bold		14 b
                    br
                    .fs-base.bold.blue Nimbus Sans D OT Bold		14 b
                    br
                    .fs-base.bold.red Nimbus Sans D OT Bold		14 b

                .clear
            br
            br
            br
            br

            //.happy-bd
                .overflow
                    .close
                    .clear

                    .actions
                        .fblock50
                            .fb
                            | Share
                        .fblock50
                            .replay
                            | Replay
                        .clear

                    a.tbc-logo(href="")


        .tb-page-header
            .content
                .logo

                .menu
                    .item.home
                    .item.active Item 1

                        ul.submenu
                            li něco
                            li něco jineho
                            li uplně jine
                            li extra jine

                    .item Item 2
                    .item Item 3
                    .item Item 4
                    .clear

                .menu-icon
                    .item.mail
                        .noti 2
                    .item.warr
                    .item.settings
                    .clear

                .tb-header-dropdown
                    a Lorem Ipsum
                      .sort.srt-down
                      br
                      | Dolorem


                .float-rg.padtop40
                    button.btn-logout LOREM

                .clear
        .content
            .warning-message.martop60
                | Warning message
                .close-button

        .content.gb-row.padtop50.padbott50
        .content.gb-row.padtop50.padbott50
            .warning-message.w100.app-box-shadow-lite
                .float-lf(style="vertical-align: middle; line-height:25px;")
                    .sign-warr.float-lf.marright10(style="width:25px; height:25px; ")
                    .fs-18.float-lf.marright10
                        span MESSAGE HEAD
                    .fs-14.float-lf.padtop1
                        span MESSAGE Text Text Text Text Text Text Text Text
                    .clear
                .close-button.float-rg
                .clear

        .content.gb-row.padtop50.padbott50
            .warning-message.w100.app-box-shadow-lite.brand-prim.blue
                .float-lf(style="vertical-align: middle; line-height:25px;")
                    //.sign-warr.float-lf.marright10(style="width:25px; height:25px; ")
                    .fs-18.float-lf.marright10
                        span MESSAGE HEAD
                    .fs-14.float-lf.padtop1
                        span MESSAGE Text Text Text Text Text Text Text Text
                    .clear
                .close-button.float-rg
                .clear

        .content.gb-row.padtop50.padbott50
            .star
            .star-empty
        .content
            include includes/layouts.pug

        .w100.padtop50.padbott50(style="background-color: #f0f0f0;")
          .content.gb-row
            .gb-3
                .dialog.dialog-graph

                    .dialog-title
                        | Header

                        .close-button

                    .dialog-inner
                        .fb-row
                            .fb30
                                .table
                                    .tr
                                        .td.grey Vivamus
                                        .td.bold Vivamus

                                    .tr
                                        .td.grey Vivamus
                                        .td.bold Vivamus

                                    .tr
                                        .td.grey Vivamus
                                        .td.bold Vivamus

                                    .tr
                                        .td.grey Vivamus
                                        .td.bold Vivamus

                                    .tr
                                        .td.grey Vivamus
                                        .td.bold.blue Vivamus

                                    .tr
                                        .td.grey Vivamus
                                        .td.bold Vivamus

                                    .tr
                                        .td.grey Vivamus
                                        .td.bold Vivamus

                                    .tr
                                        .td.grey Vivamus
                                        .td.bold Vivamus
                            .fb70


        .w100.padtop50.padbott50(style="background-color: #b0b1b2;")
            .content.gb-row
                .gb-3
                    .dialog.dialog-warring

                        .dialog-title
                            .close-button

                        .dialog-inner.fb-row
                            .fb20
                                .dialog-sign.sign-warr
                            .fb80
                                h3.red Lorem ipsum dolorem
                                p Integer posuere erat a ante venenatis
                                  span.blue &nbsp;dapibus
                                  | &nbsp;posuere velit aliquet. Sed posuere consectetur est at lobortis.

                        .dialog-btn-footer.fb-row
                            .fb-p3
                                button.alt-btn Lorem ipsum
                            .fb-p3.center
                                button.alt-btn Lorem ipsum
                            .fb-p3
                                button.float-rg Lorem ipsum

        .w100.center.white-bg
            include includes/login.pug

        .w100.center.white-bg.martop60
            include includes/changepass-step-1.pug

        .w100.center.white-bg.martop60.marbott20
            include includes/changepass-step-2.pug


      include includes/footer.pug