// Selectbox
 //.box-big

     h1 Selectbox

     .marbott5 Select picker
     select.selectpicker
         option Mustard fdgdf fdgdfg fdf dfdfdd
         option Ketchup
         option Relish

     br
     br
     br

     .marbott5 Select picker disabled
     select.selectpicker(disabled="disabled")
         option Mustard
         option Ketchup
         option Relish

     br
     br
     br

     .marbott5 Date picker
     select.datepicker
         option Mustard
         option Ketchup
         option Relish

     .calendar-dates

         .calendar-month-year
             span.arrow-cal-left(ng-click='prevHandler()')
             | December 2015
             span.arrow-cal-right(ng-click='nextHandler()')

         table
             tr
                 td Mo
                 td Tu
                 td We
                 td Th
                 td Fr
                 td Sa
                 td Su

             tr
                 td.disabled 29
                 td.disabled 30
                 td 1
                 td 2
                 td 3
                 td 4
                 td 5

             tr
                 td 6
                 td.today 7
                 td 8
                 td 9
                 td 10
                 td 11
                 td 12

             tr
                 td 13
                 td 14
                 td 15
                 td 16
                 td 17
                 td 18
                 td 19

             tr
                 td 20
                 td 21
                 td 22
                 td 23
                 td.selected 24
                 td 25
                 td 26

             tr
                 td 27
                 td 28
                 td 29
                 td 30
                 td 31
                 td.disabled 1
                 td.disabled 2


     br
     br
     br

     .marbott5 Date picker disabled
     select.datepicker(disabled="disabled")
         option Mustard
         option Ketchup
         option Relish

     br
     br
     br


     .marbott5 Range picker
     .rangepicker
         input(type="text", value="From")
         input(type="text", value="To")

     .calendar-dates.range-dates

         .fblock-p2.calendar-month-year.padright20
             span.arrow-cal-left(ng-click='prevHandler()')
             | December 2015
             span.arrow-cal-right(ng-click='nextHandler()')

         .fblock-p2.calendar-month-year.padleft20
             span.arrow-cal-left(ng-click='prevHandler()')
             | December 2015
             span.arrow-cal-right(ng-click='nextHandler()')

         .clear

         .fblock-p2.padright20
             table
                 tr
                     td Mo
                     td Tu
                     td We
                     td Th
                     td Fr
                     td Sa
                     td Su

                 tr
                     td.disabled 29
                     td.disabled 30
                     td 1
                     td 2
                     td 3
                     td 4
                     td 5

                 tr
                     td 6
                     td.today 7
                     td 8
                     td 9
                     td 10
                     td 11
                     td 12

                 tr
                     td 13
                     td 14
                     td 15
                     td 16
                     td 17
                     td 18
                     td 19

                 tr
                     td 20
                     td 21
                     td 22
                     td 23
                     td.selected 24
                     td 25
                     td 26

                 tr
                     td 27
                     td 28
                     td 29
                     td 30
                     td 31
                     td.disabled 1
                     td.disabled 2

         .fblock-p2.padleft20
             table
                 tr
                     td Mo
                     td Tu
                     td We
                     td Th
                     td Fr
                     td Sa
                     td Su

                 tr
                     td.disabled 29
                     td.disabled 30
                     td 1
                     td 2
                     td 3
                     td 4
                     td 5

                 tr
                     td 6
                     td 7
                     td 8
                     td 9
                     td.selected 10
                     td 11
                     td 12

                 tr
                     td 13
                     td 14
                     td 15
                     td 16
                     td 17
                     td 18
                     td 19

                 tr
                     td 20
                     td 21
                     td 22
                     td 23
                     td 24
                     td 25
                     td 26

                 tr
                     td 27
                     td 28
                     td 29
                     td 30
                     td 31
                     td.disabled 1
                     td.disabled 2





         .clear

     br
     br
     br

     .marbott5 Range picker
     .rangepicker(disabled="disabled")
         input(disabled="disabled", type="text", value="From")
         input(disabled="disabled", type="text", value="To")

     br
     br
     br

     .marbott5 Normal alt
     select.selectpicker.slc-big
         option Mustard
         option Ketchup
         option Relish

     br
     br
     br

     .marbott5 Disabled alt
     select.selectpicker.slc-big(disabled="disabled")
         option Mustard
         option Ketchup
         option Relish

     br
     br
     br

     .marbott5 Full alt
     select.selectpicker.slc-big.full
         option Mustard
         option Ketchup
         option Relish


     br
     br
     br

     .marbott5 Search slected
     select.selectpicker.slc-big
         option Lorenmon
         option Lostertumus
         option Prolose

 //br
 //br

 // Tabs
     .box-big

         h1 Tabs

         .tabs
             button.tab-item.selected tab1

             button.tab-item tab2

             button.tab-item tab3

         br
         br

         .tabs
             button.tab-item.selected tab1

             button.tab-item tab2

             button.tab-item.disabled tab3

     br
     br

 br
 br

 .inp.with-btn.elm-w-big
     label Normal with button
     input(type="text")
     button Go
     .clear

 br
 br

 .inp.small
     label Small normall
     input