html{
  margin: 0;
  padding: 0;
  //font-size: @font-size-base;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body{
  font-family: "nimbus_sans_d_otregular";
  background-color: @grey-ultralight;
  color: @grey-base;
  //text-align: center;
  margin: 0;
}


img{
  border: none;
}

a{
  cursor: pointer;
  color: @brand-primary;
  text-decoration: none;

  &:hover{
    color: @brand-primary-dark;
    //text-decoration: underline;
    text-decoration: none;
  }

}

b{

}

h1{
  font-weight: normal;
}

h2{

}

h3{

}

p{

}

small{

}

label{
  .w100;
  .grey;
  .padbott5;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: @font-size-l;

  .label-right-part{
    float: right;
    color: @grey-light;

    span{
      color: @grey;
    }
  }
}

