// ZER CLASS
// autor: Jakub Onderka
// web: http://zerdesign.cz/
// --------------------------------------------------------------

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bg-basic{
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

// CLEAR class
// ------------------------------------------------------------
.no-list{
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;

  li{
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;;
  }
}

.none{
  display: none;
}

.inline {
  display: inline !important;
}

.inline-block, .iblock {
  display: inline-block;
}

.inline-block-i, .iblocki {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.relative {
  position: relative;
}

.no-background-img {
  background-image: none !important;
}

.clear {
  clear: both;
  height: 0;
}

.clear-mg(){
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.clear-pd(){
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

.clear-pd{
  .clear-pd();
}

.clear-mg{
  .clear-mg();
}

.clear-sp{
  .clear-mg();
  .clear-pd();
}

.no-overflow {
  overflow: hidden !important;
}


// WIDTH and FLOAT class
// --------------------------------------------------------------
// --------------------------------------------------------------
.line{
  .base-height;
  .padright10;
  .padleft10;
  line-height: @base-height;
}

.line-small{
  .line;
  height: 30px;
  line-height: 30px;
}

// Zer Grind System

.gb-row, .fb-row, .fblock-row{
  &:before, &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

.fblock{
  .border-box;
  float: left;
  display: block;
  min-height: 1px;
}

// Percentage block
// Use info: when row(fb-row) has 2 part divided for example 70:30 use .fb70 and .fb30
.fb1, .fblock1      {width: 1%;.fblock;}
.fb2a5, .fblock2a5    {width: 2.5%;.fblock;}
.fb5, .fblock5      {width: 5%;.fblock;}
.fb7a5, .fblock7a5    {width: 7.5%;.fblock;}
.fb10, .fblock10     {width: 10%;.fblock;}
.fb12a5, .fblock12a5   {width: 12.5%;.fblock;}
.fb15, .fblock15     {width: 15%;.fblock;}
.fb17a5, .fblock17a5   {width: 17.5%;.fblock;}
.fb20, .fblock20     {width: 20%;.fblock;}
.fb22a5, .fblock22a5   {width: 22.5%;.fblock;}
.fb25, .fblock25     {width: 25%;.fblock;}
.fb27a5, .fblock27a5   {width: 27.5%;.fblock;}
.fb30, .fblock30     {width: 30%;.fblock;}
.fb32a5, .fblock32a5   {width: 32.5%;.fblock;}
.fb35, .fblock35     {width: 35%;.fblock;}
.fb37a5, .fblock37a5   {width: 37.5%;.fblock;}
.fb40, .fblock40     {width: 40%; .fblock;}
.fb42a5, .fblock42a5   {width: 42.5%; .fblock;}
.fb45, .fblock45     {width: 45%; .fblock;}
.fb47a5, .fblock47a5   {width: 47.5%; .fblock;}
.fb50, .fblock50     {width: 50%; .fblock;}
.fb52a5, .fblock52a5   {width: 52.5%; .fblock;}
.fb55, .fblock55     {width: 55%; .fblock;}
.fb57a5, .fblock57a5   {width: 57.5%; .fblock;}
.fb60, .fblock60     {width: 60%; .fblock;}
.fb62a5, .fblock62a5   {width: 62.5%; .fblock;}
.fb65, .fblock65     {width: 65%; .fblock;}
.fb67a5, .fblock67a5   {width: 67.5%; .fblock;}
.fb70, .fblock70     {width: 70%; .fblock;}
.fb72a5, .fblock72a5   {width: 72.5%; .fblock;}
.fb75, .fblock75     {width: 75%; .fblock;}
.fb77a5, .fblock77a5   {width: 77.5%; .fblock;}
.fb80, .fblock80     {width: 80%; .fblock;}
.fb82a5, .fblock82a5   {width: 82.5%; .fblock;}
.fb85, .fblock85     {width: 85%; .fblock;}
.fb87a5, .fblock87a5   {width: 87.5%; .fblock;}
.fb90, .fblock90     {width: 90%; .fblock;}
.fb92a5, .fblock92a5   {width: 92.5%; .fblock;}
.fb95, .fblock95     {width: 95%; .fblock;}
.fb97a5, .fblock97a5   {width: 99.5%; .fblock;}

// Parts
// Use info: when row(fb-row) has 2 part divided for example 50:50 use .fb-p2 and .fb-p2
.fb-p1, .fblock-p1    {width: 100%;}
.fb-p2, .fblock-p2    {width: 50%; .fblock;}
.fb-p3, .fblock-p3    {width: 33.333333333333333%; .fblock;}
.fb-p2x3, .fblock-p2x3  {width: 2 * 33.333333333333333%; .fblock;}
.fb-p4, .fblock-p4    {width: 25%; .fblock;}
.fb-p5, .fblock-p5    {width: 20%; .fblock;}
.fb-p6, .fblock-p6    {width: 16.66666666666667%; .fblock;}
.fb-p7, .fblock-p7    {width: 14.28571428571429%; .fblock;}
.fb-p8, .fblock-p8    {width: 12.5%; .fblock;}
.fb-p9, .fblock-p9    {width: 11.11111111111111%; .fblock;}
.fb-p10, .fblock-p10   {width: 10%; .fblock;}
.fb-p11, .fblock-p12   {width: 8.333333333333333%; .fblock;}
.fb-p13, .fblock-p13   {width: 7.692307692307692%; .fblock;}
.fb-p14, .fblock-p14   {width: 7.142857142857143%; .fblock;}
.fb-p15, .fblock-p15   {width: 6.666666666666667%; .fblock;}
.fb-p16, .fblock-p16   {width: 6.25%; .fblock;}


.wauto{width: auto !important;}
.w1{width: 1%;}
.w10{width: 10%;}
.w15{width: 15%;}
.w20{width: 20%;}
.w25{width: 25%;}
.w30{width: 30%;}
.w35{width: 35%;}
.w40{width: 40%;}
.w45{width: 45%;}
.w50{width: 50%;}
.w55{width: 55%;}
.w60{width: 60%;}
.w65{width: 65%;}
.w70{width: 70%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w85{width: 85%;}
.w90{width: 90%;}
.w95{width: 95%;}
.w100{width: 100%;}

.float-rg {
  float: right;
}

.float-lf {
  float: left;
}

.full{
  .border-box;
  display: table;
  max-width: inherit !important;
  min-width: inherit !important;
  width: 100% !important;
}

.clear-mm{
  max-width: inherit !important;
  min-width: inherit !important;
}

// TABLE layout
// --------------------------------------------------------------

.table{
  display: table;
  width: 100%;
  height: 100%;

  tr, .tr, .table-row{
    display: table-row;

    td, .td, .table-cell{
      display: table-cell;
    }
  }
}

// FLEX layout
// --------------------------------------------------------------
.flex{
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;

  &.flex-center{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;

    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    .flex-center-child{
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;

      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;

      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
    }
  }
}

// HEIGHT
// --------------------------------------------------------------
.md{
  height: 38px;
  line-height: 38px;
}

.med{
  height: 48px;
  line-height: 48px;
}

.md2{
  height: 50px;
}

.lg{
  height: 60px;
  line-height: 60px;
}

.max280{
  max-width: 280px;
}

// MARGIN class
// --------------------------------------------------------------
.mar-center{margin: 0 auto;}
.mar0{margin: 0 !important;}
.mar2{margin: 2px;}
.mar5{margin: 5px;}
.mar10{margin: 10px;}
.mar15{margin: 15px;}
.mar20{margin: 20px;}
.mar25{margin: 25px;}
.mar30{margin: 30px;}
.mar40{margin: 40px;}

// MARGIN TOP
.martop0{margin-top: 0 !important;}
.martop1{margin-top: 1px;}
.martop2{margin-top: 2px;}
.martop5{margin-top: 5px;}
.martop10{margin-top: 10px;}
.martop10i{margin-top: 10px !important;}
.martop15{margin-top: 15px;}
.martop20{margin-top: 20px;}
.martop25{margin-top: 25px;}
.martop30{margin-top: 30px;}
.martop35{margin-top: 35px;}
.martop40{margin-top: 40px;}
.martop45{margin-top: 45px;}
.martop50{margin-top: 50px;}
.martop50i{margin-top: 50px !important;}
.martop55{margin-top: 55px;}
.martop60{margin-top: 60px;}

// MARGIN RIGHT
.marright0{margin-right: 0 !important;}
.marright1{margin-right: 1px;}
.marright2{margin-right: 2px;}
.marright5{margin-right: 5px;}
.marright10{margin-right: 10px;}
.marright15{margin-right: 15px;}
.marright20{margin-right: 20px;}
.marright20i{margin-right: 20px !important;}
.marright25{margin-right: 25px;}
.marright30{margin-right: 30px;}
.marright35{margin-right: 35px;}
.marright40{margin-right: 40px;}
.marright45{margin-right: 45px;}
.marright50{margin-right: 50px;}
.marright60{margin-right: 60px;}
// MARGIN RIGHT IN %
.marright2a5p{margin-right: 2.5%;}
.marright5p{margin-right: 5%;}
.marright7a5p{margin-right: 7.5%;}
.marright10p{margin-right: 10%;}
.marright15p{margin-right: 15%;}
.marright20p{margin-right: 20%;}
.marright25p{margin-right: 25%;}
.marright30p{margin-right: 30%;}
.marright30p{margin-right: 35%;}
.marright40p{margin-right: 40%;}
.marright45p{margin-right: 45%;}
.marright50p{margin-right: 50%;}
.marright55p{margin-right: 55%;}
.marright60p{margin-right: 60%;}
// MARGIN LEFT
.marleft0{margin-left: 0 !important;}
.marleft2{margin-left: 1px;}
.marleft2{margin-left: 2px;}
.marleft5{margin-left: 5px;}
.marleft7{margin-left: 7px;}
.marleft10{margin-left: 10px;}
.marleft15{margin-left: 15px;}
.marleft20{margin-left: 20px;}
.marleft20i{margin-left: 20px !important;}
.marleft25{margin-left: 25px;}
.marleft30{margin-left: 30px;}
.marleft35{margin-left: 35px;}
.marleft40{margin-left: 40px;}
.marleft45{margin-left: 45px;}
.marleft50{margin-left: 50px;}
.marleft55{margin-left: 55px;}
.marleft60{margin-left: 60px;}
// MARGIN LEFT IN %
.marleft2a5p{margin-left: 2.5%;}
.marleft5p{margin-left: 5%;}
.marleft10p{margin-left: 10%;}
.marleft15p{margin-left: 15%;}
.marleft20p{margin-left: 20%;}
.marleft25p{margin-left: 25%;}
.marleft30p{margin-left: 30%;}
.marleft35p{margin-left: 35%;}
.marleft40p{margin-left: 40%;}
.marleft45p{margin-left: 45%;}
.marleft50p{margin-left: 50%;}
.marleft55p{margin-left: 55%;}
// MARGIN BOTTOM
.marbott0{margin-bottom: 0 !important;}
.marbott2{margin-bottom: 1px;}
.marbott2{margin-bottom: 2px;}
.marbott5{margin-bottom: 5px;}
.marbott10{margin-bottom: 10px;}
.marbott10i{margin-bottom: 10px !important;}
.marbott15{margin-bottom: 15px;}
.marbott20{margin-bottom: 20px;}
.marbott20i{margin-bottom: 20px !important;}
.marbott25{margin-bottom: 25px;}
.marbott27{margin-bottom: 27px;}
.marbott30{margin-bottom: 30px;}
.marbott35{margin-bottom: 35px;}
.marbott40{margin-bottom: 40px;}
.marbott45{margin-bottom: 45px;}
.marbott50{margin-bottom: 50px;}
.marbott50i{margin-bottom: 50px !important;}
.marbott55{margin-bottom: 55px;}
.marbott60{margin-bottom: 60px;}

// PADDING class
// --------------------------------------------------------------
.pad0{padding: 0 !important;}
.pad1{padding: 1px;}
.pad2{padding: 2px;}
.pad5{padding: 5px;}
.pad10{padding: 10px;}
.pad15{padding: 15px;}
.pad15i{padding: 15px !important;}
.pad20{padding: 20px;}
.pad20i{padding: 20px !important;}
.pad25{padding: 25px;}
.pad30{padding: 30px;}
.pad40{padding: 40px;}
// PADDING BOTTOM
.padtop0{padding-top: 0  !important;}
.padtop1{padding-top: 1px;}
.padtop2{padding-top: 2px;}
.padtop5{padding-top: 5px;}
.padtop10{padding-top: 10px;}
.padtop10i{padding-top: 10px !important;}
.padtop15{padding-top: 15px;}
.padtop20{padding-top: 20px;}
.padtop25{padding-top: 25px;}
.padtop30{padding-top: 30px;}
.padtop35{padding-top: 35px;}
.padtop40{padding-top: 40px;}
.padtop50{padding-top: 50px;}
.padtop60{padding-top: 60px;}
.padtop100{padding-top: 100px;}
// PADDING BOTTOM
.padright0{padding-right: 0 !important;}
.padright1{padding-right: 1px;}
.padright2{padding-right: 2px;}
.padright5{padding-right: 5px;}
.padright10{padding-right: 10px;}
.padright10i{padding-right: 10px !important;}
.padright15{padding-right: 15px;}
.padright20{padding-right: 20px;}
.padright20i{padding-right: 20px !important;}
.padright25{padding-right: 25px;}
.padright30{padding-right: 30px;}
.padright40{padding-right: 40px;}
.padright50{padding-right: 50px;}
.padright60{padding-right: 60px;}
.padright80{padding-right: 80px;}
.padright100{padding-right: 100px;}
.padright150{padding-right: 150px;}
// PADDING BOTTOM
.padleft0{padding-left: 0 !important;}
.padleft1{padding-left: 1px;}
.padleft2{padding-left: 2px;}
.padleft5{padding-left: 5px;}
.padleft10{padding-left: 10px;}
.padleft15{padding-left: 15px;}
.padleft20{padding-left: 20px;}
.padleft20i{padding-left: 20px !important;}
.padleft25{padding-left: 25px;}
.padleft30{padding-left: 30px;}
.padleft35{padding-left: 35px;}
.padleft40{padding-left: 40px;}
.padleft50{padding-left: 50px;}
.padleft60{padding-left: 60px;}
.padleft80{padding-left: 80px;}
.padleft100{padding-left: 100px;}
.padleft150{padding-left: 150px;}
// PADDING BOTTOM
.padbott0{padding-bottom: 0 !important;}
.padbott1{padding-bottom: 1px;}
.padbott2{padding-bottom: 2px;}
.padbott5{padding-bottom: 5px;}
.padbott10{padding-bottom: 10px;}
.padbott15{padding-bottom: 15px;}
.padbott20{padding-bottom: 20px;}
.padbott25{padding-bottom: 25px;}
.padbott30{padding-bottom: 30px;}
.padbott35{padding-bottom: 35px;}
.padbott40{padding-bottom: 40px;}
.padbott50{padding-bottom: 50px;}
.padbott60{padding-bottom: 60px;}
.padbott100{padding-bottom: 100px;}

// Border
// --------------------------------------------------------------
.border{
  border: 1px solid @grey-base;
}

// Min heights
// --------------------------------------------------------------
.minHeight1 {min-height: 1px;}
.minHeight10 {min-height: 10px;}
.minHeight20 {min-height: 20px;}
.minHeight30 {min-height: 30px;}
.minHeight40 {min-height: 40px;}
.minHeight50 {min-height: 50px;}
.minHeight60 {min-height: 60px;}
.minHeight70 {min-height: 70px;}
.minHeight80 {min-height: 80px;}
.minHeight90 {min-height: 90px;}
.minHeight100 {min-height: 100px;}
.minHeight150 {min-height: 150px;}
.minHeight200 {min-height: 200px;}
.minHeight300 {min-height: 300px;}
.minHeight400 {min-height: 400px;}
.minHeight500 {min-height: 500px;}

// Position
// --------------------------------------------------------------
.rel(){
  position: relative;
}

.relTop2{top: 2px;.rel;}
.relTop4{top: 4px;.rel;}
.relTop6{top: 6px;.rel;}
.relTop8{top: 8px;.rel;}
.relTop10{top: 10px;.rel;}

.relTop2m{top: -2px;.rel;}
.relTop4m{top: -4px;.rel;}
.relTop6m{top: -6px;.rel;}
.relTop8m{top: -8px;.rel;}
.relTop10m{top: -10px;.rel;}

.ver-align{
  display: table;
  table-layout: fixed;

  .ver-item{
    display: table-cell;
    vertical-align: middle;
  }
}

// TEXT
// --------------------------------------------------------------
.center, .txtcenter, .text-center{
  text-align: center;
}

.txtright, .text-right, .text-align-right{
  text-align: right;
}

.text-right-imp{
  text-align: right !important;
}

.txtleft, .text-left, .text-align-left{
  text-align: left;
}

.text-left-imp{
  text-align: left !important;
}

// colors

.brand-prim,.blue{
  color: @brand-primary !important;
}

.brand-prim-bg, .blue-bg{
  background-color: @brand-primary !important;
}

.brand-prim-dark, .blue-dark{
  color: @brand-primary-dark;
}

.brand-prim-dark-bg, .blue-dark-bg{
  background-color: @brand-primary-dark !important;
}

.brand-sec{
  color: @brand-secondary;
}

.brand-sec-bg{
  background-color: @brand-secondary !important;
}

.brand-sec-dark{
  color: @brand-secondary-dark;
}

.brand-sec-dark-bg{
  background-color: @brand-secondary-dark !important;
}

.red, .minus{
   color: @red !important;
}

.red-bg{
  background-color: @red !important;
}

.green, .plus {
  color: @green !important;
}

.green-bg {
  background-color: @green !important;
}

.orange{
  color: @orange !important;
}

.orange-bg{
  background-color: @orange !important;
}

.creme{
  color: @creme !important;
}

.creme-bg{
  background-color: @creme !important;
}

// grey colors

.grey-darkness{
  color: @grey-darkness !important;
}

.grey-darkness-bg{
  background-color: @grey-darkness !important;
}

.grey-darker{
  color: @grey-darker !important;
}

.grey-darker-bg{
  background-color: @grey-darker !important;
}

.grey-dark, .grey-base{
  color: @grey-dark !important;//basic - black - #333
}

.grey-dark{
  .grey-dark;
}

.grey-dark-bg, .grey-base-bg{
  background-color: @grey-dark !important;//basic - black - #333
}

.grey-minus{
  color: @grey-minus !important;
}

.grey-minus-bg{
  background-color: @grey-minus !important;
}

.grey{
  color: @grey !important;
}

.grey-bg{
  background-color: @grey !important;
}

.grey-plus{
  color: @grey-plus !important;
}

.grey-plus-bg{
  background-color: @grey-plus !important;
}

.grey-light{
  color: @grey-light !important;
}

.grey-light-bg{
  background-color: @grey-light !important;
}

.grey-lighter{
  color: @grey-lighter !important;
}

.grey-lighter-bg{
  background-color: @grey-lighter !important;
}

.grey-ultralight{
  color: @grey-ultralight !important;
}

.grey-ultralight-bg{
  background-color: @grey-ultralight !important;
}

.grey-ultralight2{
  color: @grey-ultralight2 !important;
}

.grey-ultralight2-bg{
  background-color: @grey-ultralight2 !important;
}

.grey-ultralight3{
  color: @grey-ultralight3 !important;
}

.grey-ultralight3-bg{
  background-color: @grey-ultralight3 !important;
}

.white{
  color: @white !important;
}

.white-bg{
  background-color: @white !important;
}

.bold{
  //font-family: "nimbus_sans_d_otbold";
  font-weight: bold;
}

.italic, i{
  font-family: 'nimbus_sans_d_otitalic';
}

.light{
  font-family: 'nimbus_sans_d_otlight';
}

.normal{
  font-weight: normal !important;
}

.disabled, .disabled *{
  color: @grey-plus !important;
  cursor: inherit !important;
}

// FONT size
// --------------------------------------------------------------

.fs-14{ font-size: @font-size-14;}
.fs-15{ font-size: @font-size-15;}
.fs-16{ font-size: @font-size-16;}
.fs-17{ font-size: @font-size-17;}
.fs-18{ font-size: @font-size-18;}
.fs-20{ font-size: @font-size-20;}
.fs-22{ font-size: @font-size-22;}
.fs-24{ font-size: @font-size-24;}

.fs-base{font-size: @font-size-base;}
.fs-l{font-size: @font-size-l;}
.fs-xl{font-size: @font-size-xl;}
h3, .fs-xxl{font-size: @font-size-xxl;}
h2, .fs-3xl{font-size: @font-size-3xl;}
h1, .fs-4xl{font-size: @font-size-4xl;}

.smallfont{
  color: @grey;
  /*font-size: @font-size-small;*/
}

.blue, .red, .minus, .green, .plus {
  .smallfont {
    color: inherit;
  }
}

// OPACITY
// --------------------------------------------------------------
.opac01{opacity: 0.1;}
.opac02{opacity: 0.2;}
.opac03{opacity: 0.3;}
.opac04{opacity: 0.4;}
.opac05{opacity: 0.5;}
.opac06{opacity: 0.6;}
.opac07{opacity: 0.7;}
.opac08{opacity: 0.8;}
.opac09{opacity: 0.9;}
.opac1{opacity: 1;}

// Cursor
.pointer{
  cursor: pointer;
}

// SPECIALS
// --------------------------------------------------------------
.withimg{
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.clear-after {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
