// width
@small-width: 130px;
@base-width: 260px;
@big-width: 560px;

@component-big-width: 340px;
@component-base-width: 215px;
@component-small-width: 165px;

//height
@small-height: 40px;
@base-height: 45px;
@big-height: 50px;

.btn-size{
  min-width: @component-base-width;
  max-width: @component-base-width + 85px;//300
  height: @base-height;
}


.inp-size{
  .w100;
  height: @base-height;
}

.inp-width{
  width: @component-big-width;
}

.basic-width{
  min-width: @base-width;
  max-width: @base-width;
}

.btn-size-small{
  min-width: @component-small-width;
  height: 30px;
}

.base-height{
  height: @base-height;
}

.base-width{
  width: @base-width;
}


.base-max-width{
  max-width: @base-width;
}

// elm width
.elm-w-small{
  width: @small-width !important;
}

.elm-w-base{
  width: @base-width !important;
}

.elm-w-big{
  width: @big-width !important;
}

// elm height
.elm-h-small{
  height: @small-height !important;
}

.elm-h-base{
  height: @base-height !important;
}

.elm-h-big{
  height: @big-height !important;
}

// elm size
.elm-s-small{
  width: @small-width;
  height: @small-height;
}

.elm-s-base{
  width: @base-width;
  height: @base-height;
}

.elm-s-big{
  width: @big-width;
  height: @big-height;
}