// Mixins
// --------------------------------------------------

.rotate (@app-rotate:5deg) {
  -moz-transform: rotate(@tbc-rotate);
  -webkit-transform: rotate(@tbc-rotate);
  -o-transform: rotate(@tbc-rotate);
  -ms-transform: rotate(@tbc-rotate);
  transform: rotate(@tbc-rotate);
}

.app-transition (@app-main-transition: 500ms) {
  -webkit-transition: @-main-transition;
  -o-transition: @app-main-transition;
  -moz-transition: @app-main-transition;
  transition: @app-main-transition;
}

.app-border-radius(@app-border-radius-2: @app-border-radius) {
  -webkit-border-radius: @app-border-radius-2;
  -moz-border-radius: @app-border-radius-2;
  border-radius: @app-border-radius-2;
}

.app-border-radius-topright(@app-border-radius-topright: @app-border-radius) {
  -webkit-border-top-right-radius: @app-border-radius-topright;
  -moz-border-top-right-radius: @app-border-radius-topright;
  border-top-right-radius: @app-border-radius-topright;
}


.app-box-shadow-lite(@app-lite-box-shadow: 0 16px 20px rgba(0,0,0,0.1)) {
  -webkit-box-shadow: @app-lite-box-shadow;
  -moz-box-shadow: @app-lite-box-shadow;
  box-shadow: @app-lite-box-shadow;
}

.app-box-shadow-lite{
  .app-box-shadow-lite;
}

//.app-box-shadow(@app-main-box-shadow: 0 20px 32px rgba(0,0,0,0.07)) { // 0px 2px 1px 0px rgba(0,0,0,0.3)box-shadow: 0 1px 5px rgba(0,0,0,0.1);
.app-box-shadow(@app-main-box-shadow: 0 16px 34px rgba(0,0,0,0.2)) { // 0px 2px 1px 0px rgba(0,0,0,0.3)box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  -webkit-box-shadow: @app-main-box-shadow;
  -moz-box-shadow: @app-main-box-shadow;
  box-shadow: @app-main-box-shadow;
}

.app-box-shadow{
  .app-box-shadow;
}

.app-calc-width(@app-calc-width-val) {
  width: -moz-calc(@app-calc-width-val);
  width: -o-calc(@app-calc-width-val);
  width: -ms-calc(@app-calc-width-val);
  width: calc(@app-calc-width-val);
}

.app-calc-height(@app-calc-height-val) {
  height: -moz-calc(@app-calc-height-val);
  height: -o-calc(@app-calc-height-val);
  height: -ms-calc(@app-calc-height-val);
  height: calc(@app-calc-height-val);
}

.app-ellipsis(){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-to-baw(@baw:1) {
  -webkit-filter: grayscale(@baw);
  filter: grayscale(@baw);
}


.app-circle(){
  background-repeat: no-repeat;
  background-position: center center;
  .app-border-radius(50%);
}

.list-style-none(){
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.hover-efct(@duration: 0.5s){
  -webkit-transition: all ease-in-out @duration;
  -o-transition: all ease-in-out @duration;
  -moz-transition: all ease-in-out @duration;
  transition: all ease-in-out @duration;
}

.no-transition(){
  -moz-transition: none;
  -webkit-transition: none;
  transition: none;
}

.basic-background{
  background-repeat: no-repeat;
  background-position: center;
}

.border-box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                not supported by any browser */
}

// MY ANIM

@-webkit-keyframes thumb {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(0.8); }
  100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes shake {
  0% { -webkit-transform: rotate(0deg);}
  25% { -webkit-transform: rotate(25deg); }
  50% { -webkit-transform: rotate(0deg); }
  75% { -webkit-transform: rotate(-25deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes rotate {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes welcome {
  0% { -webkit-transform: scale(0.5); }
  80% { -webkit-transform: scale(1); }
  95% { -webkit-transform: scale(0.8); }
  100% { -webkit-transform: scale(1); }
}

.my-anim(@my-duration: 200ms){
  -webkit-animation-duration: @my-duration;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.my-anim2(@my-duration: 200ms){
  -webkit-animation-duration: @my-duration;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}



.my-anim-thumb{
  -webkit-animation-name: thumb;
  .my-anim(0.4s);
}

.my-anim-shake{
  -webkit-animation-name: shake;
  .my-anim;
}

.my-anim-rotate{
  -webkit-animation-name: rotate;
  .my-anim(2s);
}

.my-anim-welcome{
  -webkit-animation-name: welcome;
  .my-anim2(1.5s);
}