// Variables
// --------------------------------------------------

//== Colors
//
//## grey and brand colors

@grey-darkness:          #333439;

@grey-darker:            #0D0D0D;
@grey-dark:              #191919; // standart text
@grey-base:              @grey-dark; // standart text
@grey-minus:             #4D4D4D; // text
@grey:                   #808080; // text 2
@grey-plus:              #b3b3b3; // hight
@grey-light:             #ccc; // hight
@grey-lighter:           #e6e6e6;
@grey-ultralight:        #f0f0f0; // lines

@grey-ultralight2:       #fefefe;
@grey-ultralight3:       #fbfbfb;



@brand-primary:         #0097fd;
@brand-primary-dark:    #0080ec;
@brand-secondary:       #5d6070;
@brand-secondary-dark:  #1d1e23;
/*
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;*/

@white:                 #fff;
@black:                 #000;//#000

@red:                   #e14c4c;
@green:                 #0fce8d;
@orange:                #ff6c00;
@blue:                  @brand-primary;
@creme:                 #fefce9;

//Select box

@color-red-error: #c72127;
@color-blue-hover: rgb(100, 177, 216);
@color-grey-arrow: rgb(204, 204, 204);

@width-default: 220px; // 3 960px-grid columns

@zindex-select-dropdown: 1035; // must be lower than a modal background (1040) but higher than the fixed navbar (1030)


//
// Text
//---------------------------------------------------

@font-size-10:  10px;
@font-size-11:  11px;
@font-size-13:  13px;
@font-size-14:  14px;                           // ~14px
@font-size-15:	15px;                           // ~15px
@font-size-16:	16px;                           // ~16px
@font-size-17:  17px;                           // ~17px
@font-size-18:  18px;                           // ~18px
@font-size-20:  20px;                           // ~20px
@font-size-22:  22px;                           // ~22px
@font-size-24:  24px;                           // ~24px
@font-size-25:  25px;                           // ~25px
@font-size-26:  26px;                           // ~26px
@font-size-28:  28px;                           // ~28px
@font-size-30:  30px;                           // ~30px
@font-size-42:  42px;                           // ~30px

@font-size-base:  @font-size-14;
@font-size-l:     @font-size-15;
@font-size-xl:    @font-size-18;
@font-size-xxl:   @font-size-20;
@font-size-3xl:   @font-size-25;
@font-size-4xl:   @font-size-28;

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15));// ~30px
@font-size-h3:            ceil((@font-size-base * 1.7));  // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;                // ~14px
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px


//
// Others
// --------------------------------------------------

@app-main-margin: 30px;
@app-nofify-font-size: @font-size-base;
@app-tip-font-size: @font-size-base;
@app-notify-background: #c62127;
@app-progress-background: @brand-primary;
@app-main-transition: 500ms;
@images: "images";
@app-fonts: "font";
@app-border-radius: 4px;
