.clear-list{
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.box-menu{
  .clear-list;

  li{
    min-height: 30px;
    margin-bottom: 20px;

    &.disabled{
      cursor: inherit;
    }
  }
}

.layout-box{
  .dialog-box;
  background-color: @grey-ultralight;

  // 3 casti
  .lp2{
    .fblock-p2x3
  }

  .lp1{
    .fblock-p3
  }
}

@box-pad: 20px;

.box-small,
.box-big{
  .border-box;
  background-color: @white;
  width: 100%;
  margin-bottom: 40px;

  &.box-table{
    padding: 0;

    .basic-table .tr:first-child .td,
    .basic-table .tr:last-child .td{
      border-bottom-width: 4px;
    }
  }

  .box-title{
    padding: @box-pad;
    background-color: #f5f5f5;
    font-size: @font-size-16;

    .box-setting{
      .basic-background;
      background-image: url("@{images}/widget-icon-settings2.png");
      height: 22px;
      width: 21px;
      cursor: pointer;
      float: right;

      &:hover{
        opacity: 0.75;
      }
    }
  }

  .box-header{
    margin-bottom: 15px;
    padding: @box-pad;
    color: @grey-minus;

    h2{
      font-size: @font-size-24;
      font-weight: normal;
      .mar0;
    }

    &.header-menu{
      background-color: @grey-darker;
      padding-bottom: 0;

      .hm-item{
        float: left;
        color: @white;
        margin-left: 30px;
        margin-right: 30px;
        padding-bottom: @box-pad;

        .noti {
          border: 0 solid transparent;
          margin-top: -51px;
          //float: right;
        }

        &.active{
          .bold;
          border-bottom: 4px solid @brand-primary;
        }

        &.hover{
          opacity: 0.75;
        }
      }
    }
  }

  .box-inner{
    padding: @box-pad;
    background-color: @white;
  }

  .box-footer{
    font-size: @font-size-base;
    padding: @box-pad;

    .inline-block{
      font-size: @font-size-base;
    }

    &:last-child{
      border-top: 4px solid #f0f0f0;
    }
  }

  &.pad0{
    .box-footer{
      padding: @box-pad;
    }
  }
}

// Box navi
.box-navi {
  text-align: center;
  background-color: @grey-darker;
  color: @white;
  height: 45px;
  line-height: 37px; // minus top and bottom border widths

  .box-step {
    display: inline-block;
    position: relative;
    margin: 0 30px;
    white-space: nowrap;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;

    &.active {
      font-family: 'nimbus_sans_d_otbold',sans-serif;
      border-bottom-color: @brand-primary;

      // TODO - REPLACE WITH IMAGE
      &:not(:last-child):after {
        content: ">";
        display: inline-block;
        position: absolute;
        right: -35px;
      }
    }
  }
}

// Small box
.box-small{
  width: @grind-base-width;

  .box-title{
    background-color: @grey-darker;
    color: @white;
  }

  .box-inner{
    color: @brand-primary;
    font-size: @font-size-15;
  }
}

.box-big{
  padding: @box-pad;

  &.box-colors .fblock-p9{
    height: 120px;
    text-align: center;
    color: @white;
    padding-top: 50px;
  }
}

.box-border {
  border: 20px solid @grey-lighter;
}

.box-ground {
  background-color: @grey-lighter;
}

// Grind system
@grind-base-width: 270px;
@grind-base-width-small: 202px;
@grind-base-marrg: 30px;


// Content size
@app-width-big: 1170px;
@app-width-small: 900px;
@app-width-tablet: 768px;

.content {
  width: @app-width-big;
  text-align: left;
  margin: 0 auto;
}

.content {
  @media (min-width: 1170px) {//large screen
    width: @app-width-big;// 1170
  }
  @media (max-width: 1169px) and (min-width:768px) {//small screen
    width: @app-width-small;// 900
  }
  /*@media (min-width: 768px) {//tablet
    width: @app-width-tablet;
  }*/
}

.grind-box{
  //.border-box;
  width: @grind-base-width;
  min-height: 1px;
  margin-right: @grind-base-marrg;
  float: left;
  margin-bottom: 0;
  .border-box;

  @media (max-width: 1169px) and (min-width:768px) {//small screen
    width: @grind-base-width-small;// 900
  }

  &.last{
    margin-right: 0 !important;
  }
}

.gb-1{ // 50 : 50
  .grind-box;

  .inp{
    width: 100% !important;
  }
}

.gb-2{ // 50 : 50
  .grind-box;
  width: 2 * @grind-base-width + @grind-base-marrg;

  @media (max-width: 1169px) and (min-width:768px) {//small screen
    width: 2 * @grind-base-width-small + @grind-base-marrg;// 900
  }
}

.gb-2-width{ // 50 : 50
  width: 2 * @grind-base-width;

  @media (max-width: 1169px) and (min-width:768px) {//small screen
    width: 2 * @grind-base-width-small;// 900
  }
}

.gb-3{
  .grind-box;
  width: 3 * @grind-base-width + 2 * @grind-base-marrg;

  @media (max-width: 1169px) and (min-width:768px) {//small screen
    width: 3 * @grind-base-width-small + 2 * @grind-base-marrg;// 900
  }
}

.gb-full, &.gb-4{ // 100
  .grind-box;
  width: 4 * @grind-base-width + 3 * @grind-base-marrg;

  @media (max-width: 1169px) and (min-width:768px) {//small screen
    width: 4 * @grind-base-width-small + 3 * @grind-base-marrg;
  }
}

.gb-last{
  margin-right: 0 !important;
}

.opened-line,
.opened-line-header{
  .fb-row;
  .pad20;
  .bold;
  .app-box-shadow;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: @white;
  margin-bottom: 5px;
  font-size: @font-size-18;

  &.abandoned-line{
    margin-bottom: 20px;
    .pad20;
  }

  &.no-back{
    background-color: transparent;
    .app-box-shadow(0 0px 0px rgba(0,0,0,0.0));
    padding-bottom: 0 !important;

    .star{
      background-image: url("@{images}/star-empty.png");
    }
  }


  .star{
    .fb7a5;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("@{images}/star-full.png");
  }

  .acc{
    .fb30;

    span.normal{
      font-size: @font-size-14;
    }
  }

  .balance,
  .balance2{
    .fb22a5;
    text-align: right;
    padding-right: 5px;

    &:first-child{
      .bold;
    }
  }

  .balance2{
    .normal;
  }

  .curr{
    .fb10;
    .normal;
    text-align: right;
  }

  .arrow{
    .fb7a5;
    height: 17px;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url("@{images}/select-arrow-blue-down.png");
  }

  .name{
    .fb92a5;
  }

  &.open-line .arrow{
    background-image: url("@{images}/select-arrow-blue-up.png");
  }

}

.arrow-down{
  .fb7a5;
  height: 17px;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url("@{images}/select-arrow-blue-down.png");
}

.arrow-up{
  .arrow-down;
  background-image: url("@{images}/select-arrow-blue-up.png");
}

.star{
  .fb7a5;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("@{images}/star-full.png");
}

.star-empty{
  .star;
  background-image: url("@{images}/star-empty.png");
}

.opened-line-header{
  background-color: transparent;
  .app-box-shadow(0 0px 0px rgba(0,0,0,0.0));
  padding-bottom: 0 !important;

  .star, .curr, .balance, .balance2, .arrow{
    .bold !important;
  }

  .arrow, .star{
    background-image: none;
  }
}

.box-big{
  .opened-line{
    padding-bottom: 15px;
    padding-top: 15px;
  }
}
