// Buttons
// --------------------------------------------------

@disabled-color: #f7f7f7;

.btn-disabled{
  background-color: @grey-lighter !important;
  cursor: inherit;
}

button {
  .border-box;
  .app-border-radius;
  .app-ellipsis;
  .btn-size;
  vertical-align: inherit;
  text-align: left;
  border: 1px solid transparent;
  outline-style: none;
  background-color: @brand-primary;
  background-image: url("@{images}/btn-arrow.png");
  background-repeat: no-repeat;
  background-position: center right+20px;
  color: @white;
  font-size: @font-size-xl;
  cursor: pointer;
  transition: background 0.5s;
  padding: 1px 35px 1px 20px;


  &:hover,
  &.selected{
    opacity: 0.6;
  }

  &:focus {

  }

  &:active {

  }

  &.btn-red {
    background-color: @red;
  }

  &.btn-logout {
    .btn-red;
    height: 35px;
    min-width: 80px;
    max-width: 80px;
    background-image: none;
    font-size: @font-size-13;
    padding-right: 10px;
    padding-left: 10px;
  }

  // Alternative
  &.alt-btn{
    background-color: @brand-secondary;
  }

  // Disabled
  &.disabled,
  &[disabled] {
    .btn-disabled;

    &:hover,
    &.selected{
      opacity: 1;
    }
  }

  /*
  // Grey button
  &.btn-grey{
    background-color: @grey-lighter;
    color: @grey-base;

    &:hover,
    &.selected {
      background-color: @grey-plus;
    }

  }
  // Outline button
  &.btn-outline{
    background-color: transparent;
    color: @brand-primary;
    border: 1px solid @brand-primary;

    &:hover,
    &.selected {
      color: @brand-primary-dark;
      border: 1px solid @brand-primary-dark;
    }

    &[disabled] {
      .btn-disabled;
      background-color: transparent !important;
      border: 1px solid @grey-light;
    }

  }*/

  // Small button
  &.btn-small{
    .btn-size-small;
    font-size: @font-size-l;
    padding: 1px 35px 1px 10px;
    background-position: center right+10px;
  }


  &.text-only{
    .hover-efct;


    &:hover {

    }

    &:active, &:focus{

    }
  }

  // Color


  // Size

}

.btn-filter,
.btn-detail{
  margin: 0 auto;
  .basic-background;
  height: 60px;
  width: 25px;
  cursor: pointer;
}

.btn-filter{
  background-image: url("@{images}/filter.png");
}

.btn-detail{
  background-image: url("@{images}/detail.png");
}








