// Calendar
// --------------------------------

.calendar-month-year{
  .brand-sec-dark-bg;
  text-align: center;
  color: @white;
  padding: 13px 0;
}

// arrows
.arrow-cal {
  cursor: pointer;
  height: 13px;
  width: 12px;
  background-repeat: no-repeat;
  background-position: center center;


  &.disabled{
    opacity: 0.2;
    cursor: auto;
  }

  &:hover{
    opacity: 0.6;
  }
}

.arrow-double{
  height: 11px;
  width: 40px;
}

.arrow-cal-right{
  .arrow-cal;
  float: right;
  background-image: url("@{images}/calendar-arrow-right.png");
}

.arrow-cal-left{
  .arrow-cal;
  float: left;
  background-image: url("@{images}/calendar-arrow-left.png");
}

.arrow-cal-double-right{
  .arrow-cal;
  .arrow-double;
  float: right;
  background-image: url("@{images}/calendar-double-arrow-right.png");
}

.arrow-cal-double-left{
  .arrow-cal;
  .arrow-double;
  float: left;
  background-image: url("@{images}/calendar-double-arrow-left.png");
}

.calendar-sodd {
  margin: 14px auto;
}

.calendar-point{
  .w100;
  background-repeat: no-repeat;
  background-position: center right+22px;
  background-image: url("@{images}/calendar-point.png");
  height: 5px;
  margin-top: -5px;
}


  // table
.calendar-dates{
  .border-box;
  .app-box-shadow;
  //.inp-width;
  .w100;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("@{images}/datapicker-bg.png");
  border: 1px solid @grey-lighter;
  margin-top: 20px;

  &.range-dates{
    width: @base-width * 2 + 40px;

    .calendar-month-year{
      .blue;
    }
  }

  table{
    margin: 0 auto;
    border-spacing: 0;

    tr{

      &:first-child td{
        //.brand-sec-dark-bg;
        .app-border-radius(0);
        color: @white;
        cursor: inherit !important;

        &:hover{
          color: @white !important;
          font-weight: inherit !important;
        }
      }

      td{
        z-index: 900;
        width: 30px;
        height: 30px;
        text-align: center;
        .app-border-radius(50%);


        &.disabled{
          color: @grey-light;
        }

        &.today{
          border: 1px solid @grey-lighter;
        }

        &.selected{
          color: @white !important;
          background-color: @brand-primary !important;
        }

        &.selected-range{
          color: @white;
          background-color: #c893c7;
        }

        &:not(.selected):not(.disabled):hover{
          cursor: pointer;
          color: @brand-primary;
          z-index: 1000;
          .bold;
        }

      }

      &:last-child td{
        border-bottom: 1px solid transparent !important;
      }

    }
  }
}