// Checkbox
// --------------------------------------------------

.checkbox-basic{
  .noselect;
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  cursor: pointer;
  border: 1px solid @grey-light;
  background-color: transparent;
}

input[type=checkbox] {
  display: none;
  margin: 0;
}

.checkbox{
  margin: 0;
  height: 20px;

  label {
    .bold;
    .noselect;
    font-size: @font-size-16;
    padding-left: 0;
    padding-right: 0;
  }

  &.checkbox-disabled {

    label {
      cursor: default !important;

      &:before {
        opacity: .4 !important;
      }
    }
  }

  &:not(.checkbox-reverse) label:before {
    .app-border-radius;
    .bold;
    .checkbox-basic;
    margin-right: 10px;
  }

  &.checkbox-reverse{
    padding-left: 0;
    padding-right: 20px;

    label{
    }

    label:after {
      .checkbox-basic;
      margin: 0;
      position: absolute;
      right: 0;
    }
  }

  &.inline{
    display: inline;
    position: relative;
    top: 5px;

    label {
      margin-bottom: 0;
    }
  }

  &.disabled,
  &[disabled]{
    opacity: 0.4;
  }
}

.checkbox:not(.checkbox-reverse) input[type=checkbox]:checked + label:before,
.checkbox.checkbox-reverse input[type=checkbox]:checked + label:after{
  background-image: url("@{images}/checkbox-check.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: @brand-primary;
  border: 1px solid @brand-primary;
}

.checkbox.disabled:not(.checkbox-reverse) input[type=checkbox]:checked + label:before,
.checkbox[disabled]:not(.checkbox-reverse) input[type=checkbox]:checked + label:before,
.checkbox.disabled.checkbox-reverse input[type=checkbox]:checked + label:after,
.checkbox[disabled].checkbox-reverse input[type=checkbox]:checked + label:after{
  .app-to-baw;
  content: "";
}

// Firefox fix
.tbc-box-tu-templates .px420{
  .checkbox{
    label:before {
      top: -6px;
    }
  }
}
// Firefox fix end