.dialog-box{
  width: 80%;
  min-height: 500px;
  padding: 10%;
  background-color: #999;
}

.dialog-box-shadow(){
  -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 50px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.3);
}

// Close button
.close-button{
  .basic-background;
  .hover-efct;
  background-image: url("@{images}/close.png");
  float: right;
  height: 15px;
  width: 14px;
  cursor: pointer;

  &:hover{
    opacity: 0.4;
  }
}

// Sign - X or V
.dialog-sign{
  .basic-background;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 56px;

  &.sign-yes{ // V
    background-image: url("@{images}/check-big.png");
    background-repeat: no-repeat;
  }

  &.sign-no{ // X
    background-image: url("@{images}/un-check-big.png");
    background-repeat: no-repeat;
  }

  &.sign-warr{ // X
    background-image: url("@{images}/sign-warr.png");
    background-repeat: no-repeat;
  }
}
.sign-yes{ // V
  background-image: url("@{images}/check-big.png");
  background-size:     contain;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.sign-no{ // X
  background-image: url("@{images}/un-check-big.png");
  background-size: contain;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.sign-warr{ // X
  background-image: url("@{images}/sign-warr.png");
  background-size:     contain;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

// Dialog
.dialog{
  background-color: @white;
  width: 550px;
  margin: 0 auto;

  &:not(.embedded) {
    .dialog-box-shadow;
  }

  button{
    min-width: 142px;
    max-width: 142px;
  }

  // Title
  .dialog-title{
    font-size: @font-size-24;
    padding: 30px 30px 0 30px;
  }



  // Inner
  .dialog-inner{
    padding: 50px;

    h3{
      font-size: @font-size-3xl;
      margin-top: 0;
    }

    p{
      margin: 0;
    }
  }

  // Footer
  .dialog-footer{
    padding: 0 50px 50px 50px;
  }

  // TYPE: Clarification
  &.dialog-clarification{
    width: 430px;
    text-align: center;

    .dialog-title{
      padding-top: 40px;
    }

    p{
      color: @grey;
    }

    button{
      background-image: none;
      text-align: center;
    }
  }

  // TYPE:
  // Graph
  &.dialog-graph{
    width: 100%;

    .dialog-inner{
      margin-top: 20px;
      margin-right: 30px;
      margin-left: 30px;
      padding: 0;
      padding-top: 20px;
      padding-bottom: 30px;
      border-top: 1px solid @grey-ultralight;

      .table{
        .tr .td{
          line-height: 30px;
        }
      }
    }
  }

  //.dialog-warring
  &.dialog-warring{
    width: 100%;

    .dialog-inner{
      -webkit-box-shadow: 0 19px 36px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 19px 36px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 19px 36px 0 rgba(0, 0, 0, 0.2);
    }

    .dialog-btn-footer{
      .fb-row;
      padding-bottom: 20px;
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px;

      button{
        .clear-mm;
        margin: 0 auto;
      }
    }
  }

}

.warning-message{
  .pad20;
  font-size: @font-size-24;
  color: @red;
  background-color: @white;
}