@footer-height: 70px;


html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -@footer-height;
  position: relative;
}



.footer{
  width: 100%;
  height: @footer-height;
  border-top: 1px solid @grey-ultralight2;
  background-color: @white;
  position: relative;
  bottom: 0;
}

.logo-raiffeisen,
.logo-small{
  .fblock-p2;
  .basic-background;
  height: @footer-height;
  line-height: @footer-height;
  color: #7e7e7e;
}

.logo-raiffeisen{
  font-style: italic;
  background-position: left;
  background-image: url("@{images}/logo-raiffeisen.png");
  padding-left: 20px;
  font-size: @font-size-14;
}

.logo-small{
  background-position: right;
  text-align: right;
  background-image: url("@{images}/logo-small.png");
  padding-right: 37px;
}
