.inp-back{
  background-repeat: no-repeat;
  background-position: right+20px center;
  padding-right: 45px;
}

.strength{
  height: 40px;
  width: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url("@{images}/pass-str-1.png");

  &.pass-str-1{
    background-image: url("@{images}/pass-str-1.png");
  }

  &.pass-str-2{
    background-image: url("@{images}/pass-str-2.png");
  }

  &.pass-str-3{
    background-image: url("@{images}/pass-str-3.png");
  }

  &.pass-str-4{
    background-image: url("@{images}/pass-str-4.png");
  }

  &.pass-str-5{
    background-image: url("@{images}/pass-str-5.png");
  }

  &.pass-str-6{
    background-image: url("@{images}/pass-str-6.png");
  }

  &.pass-str-7{
    background-image: url("@{images}/pass-str-7.png");
  }
}

.inp{
  .border-box;
  .w100;

  input, textarea{
    .border-box;
    .inp-size;
    .app-border-radius;
    .app-ellipsis;
    outline-style: none;
    background-color: @white;
    color: @grey-base;
    border: 1px solid @grey-lighter;
    padding-right: 10px;
    padding-left: 10px;
    font-size: @font-size-xl;
    width: 100%;


    &:focus {
      border: 1px solid @brand-primary;
    }

    &.warning {
      border: 1px solid @red;
    }

    &.disabled,
    &[disabled] {
      opacity: 0.4;
    }
  }

  textarea{
    min-height: 255px;
  }

  label{

    &.inp-label-after{
      padding-top: 5px;
      font-size: @font-size-base;
    }
  }


  // Disabled
  &.disabled,
  &[disabled] {

    input{
      background-color: @grey-ultralight;
      border-color: @grey-lighter;
    }

    &.info label div{
      .app-to-baw;
      cursor: inherit;
    }
  }

  // Small
  &.small input{
    width: @small-width;
  }

  // Password
  &.password{
    input {
      .inp-back;
      float: left;
      margin-right: 2%;
      padding-right: 50px;
      background-image: url("@{images}/pass-str-show.png");
      width: 96%;
    }

    .strength{
      float: left;
    }
  }

  // With keybord
  &.with-keyboard{
    input {
      float: left;
      width: 89%;
    }

    .inp-keyboard{
      .basic-background;

      height: @base-height;
      float: left;
      background-image: url("@{images}/keyboard-icon.png");
      width: 11%;
      cursor: pointer;

      &:hover{
        opacity: 0.75;
      }
    }
  }

  // Datepicker
  &.datepicker{
    input {
      .inp-back;
      background-position: right+20px center;
      background-image: url("@{images}/datapicker.png");
      padding-right: 55px;
    }

    &.open input{
      .app-border-radius;
      background-image: url("@{images}/datapicker-open.png");
    }
  }

  // With button
  &.with-btn{
    @button-width: 120px;

    input {
      .border-box;
      .app-border-radius(2px 0 0 2px);
      float: left;
      width: @big-width - @button-width;
      border-right: 0 solid transparent;
    }

    button{
      .border-box;
      .app-border-radius(0px 2px 2px 0px);
      .clear-mm;
      float: left;
      width: @button-width;
      height: @base-height;
    }
  }

  // Code
  &.inp-code {
    .fb-row;

    input{
      width: @base-height;
      float: left;
      margin-right: 5px;
      text-align: center;
      padding-right: 5px;
      padding-left: 5px;

      &[value=""]{
        .basic-background;
        background-image: url("@{images}/number-input-back.png");
      }

      &:focus, &[value] {
        background-image: none;
      }

      &:last-child{
        .marright0;
      }
    }
  }

  // Warning
  &.warning {
    input{
      border: 1px solid @red;
    }

    .inp-label-after{
      color:@red;
    }
  }

  // Info
  &.info {

    label{

      div{
        width: 16px;
        height: 16px;
        background-image: url("@{images}/app-info.png");
        background-repeat: no-repeat;
        cursor: pointer;
        display: inline-block;
        position: relative;
        top: 3px;
      }
    }
  }

  &.inp-cur{
    input{
      .inp-back;
      background-position: right+40px center;
      padding-right: 115px;
      text-align: right;
    }

    &.eur input{
        background-image: url("@{images}/cur-eur.png");
    }
  }


  // type
  &.search input{
    .inp-back;
    background-position: left+20px center;
    background-image: url("@{images}/search.png");
    padding-left: 60px;

    &:focus {
      background-image: url("@{images}/search-open.png");
    }
  }

  &.attachment input{
    .inp-back;
    background-image: url("@{images}/attachment.png");

    &:focus {
      background-image: url("@{images}/attachment-open.png");
    }
  }

  &.approved  input{
    .inp-back;
    background-image: url("@{images}/good.png");
  }

  &.non-approved  input{
    .inp-back;
    background-image: url("@{images}/bad.png");
  }

}

.info-buble{
  .pad20;
  .app-box-shadow;
  background: @grey-lighter;
  width: 275px;

  h1{
    color: @grey-dark;
    margin-bottom: 0;
    font-size: @font-size-14;
    .bold;
  }

  p{
    color: @grey;
    font-size: @font-size-14;
    margin-bottom: 0;
  }
}