.grind-con .grind-box{
  .white-bg;
  height: 230px;
}

.con-typ .grind-box{
  .app-box-shadow;
  background-color: #f7f7f7;
  padding: 30px;

  h1{
    margin-bottom: 0;
    margin-top: 5px;
  }
}

.fblock-p9{
  text-align: center;
  padding-bottom: 60px;
  padding-right: 10px;
  font-size: @font-size-13;
  min-height: 285px;

  &:nth-child( 9n + 9 ){
    margin-right: 0;
  }

  span{
    .grey;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 20px;
  }
}


.colorbox{
  height: 120px;
  margin-bottom: 20px;
}