.loader{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: @brand-primary;
  margin: 0 auto;

  .ld-inner{
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("@{images}/loader-big.png");
    height: 60px;
    width: 60px;
    .my-anim-rotate;
  }

  &.ld-small{
    height: 20px;
    width: 20px;
    background-color: transparent;

    .ld-inner{
      background-image: url("@{images}/loader-small.png");
      height: 20px;
      width: 20px;
    }
  }
}