@header-height: 120px;

.tb-page-header{
  text-align: center;

  .header-content{
    margin: 0 auto;
  }

  .grey-darker-bg;
  height: @header-height;
  font-size: @font-size-18;
  color: @white;

  .logo{
    .bg-basic;
    float: left;
    width: 80px;
    height: @header-height;
    background-image: url("@{images}/tatra_logo.png");
  }
}

.tb-header-dropdown{
  float: left;
  padding-top: 40px;
  margin-left: 30px;

  color: @grey-plus !important;

  a {
    //color: @grey-plus;
  }

  .sort.srt-down {
    background-image: url("@{images}/select-arrow-down.png");
  }
}




// Menu
.menu{
  height: @header-height;
  float: left;
  width: 580px;
  margin-left: 60px;

  .item{
    .border-box;
    line-height: @header-height;
    height: @header-height;
    float: left;
    margin: 0 25px;
    cursor: pointer;

    &.active{
      border-bottom: 3px solid @brand-primary;
    }

    &.home{
      .basic-background;
      background-image: url("@{images}/home.png");
      width: 17px;
    }

    &:hover{
      //opacity: 0.65;
      color:@grey-plus;
    }
  }
}

// Submenu
.submenu{
  .no-list;
  .app-box-shadow;
  .border-box;
  .inp-width;
  color: @brand-primary;
  border: 1px solid @grey-lighter;
  outline-style: none;
  font-size: @font-size-18;
  background-color: @white;
  list-style: none;
  position: absolute;
  float: left;
  margin: 0;
  padding: 0;

  li{
    min-height: 44px;
    line-height: 44px;
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    border-bottom: 1px solid @grey-lighter;

    &>a{
      display: block;
    }

    &.selected{
      background-repeat: no-repeat;
      background-position: right+20px center;
      background-image: url("@{images}/good.png");
    }

    &:last-child{
      border-bottom: 0 solid transparent;
    }

    &:hover{
      font-weight: bold;
    }
  }

}

@media (max-width: 1169px) {//small screen  and (min-width:768px)
  .menu {
    width: 410px;
    margin-left: 20px;

    .item {
      margin: 0 20px;
    }
  }
}

// Icons
.menu-icon{
  height: @header-height;
  float: left;
  width: 150px;

  .item{
    .border-box;
    .basic-background;
    line-height: @header-height;
    height: @header-height;
    float: left;
    padding: 50px 25px;
    cursor: pointer;
    width: 25px;

    &:hover{
      opacity: 0.65;
    }

    &.mail{
      background-image: url("@{images}/widget-icon-mail.png");
    }

    &.warr{
      background-image: url("@{images}/widget-icon-warr.png");
    }

    &.settings{
      background-image: url("@{images}/widget-icon-settings.png");
    }
  }
}