// Sortint >
.sort{
  .basic-background;
  height: 20px;
  min-width: 20px;
  display: inline-block;
  cursor: pointer;
  transition: opacity 0.5s;

  &:hover{
    opacity: 0.5;
  }

  &.srt-up{
    background-image: url("@{images}/select-arrow-blue-up.png");
  }

  &.srt-down{
    background-image: url("@{images}/select-arrow-blue-down.png");
  }
}

// Steper
.steper{
  .bold;
  .grey-dark;
  font-size: @font-size-base;
  text-align: center;

  a{
    .grey-dark;
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    transition: color 0.5s;

    &.active{
      .blue;
    }

    &:hover{
      .blue;
      text-decoration: none;
    }
  }
}


// Point count
.count{
  .bold;
  .float-rg;
  height: 30px;
  width: 30px;
  background-color: @grey-ultralight;
  color: @brand-primary;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  font-size: @font-size-l;
  cursor: pointer;

  &:hover{
    background-color: @brand-primary;
    color: @white;
  }
}

.disabled .count{
  color: @grey-plus !important;
  cursor: inherit;

  &:hover{
    background-color: inherit !important;
    color: inherit !important;
  }
}


// Notification
.noti{
  .app-border-radius(50%);
  height: 24px;
  width: 24px;
  line-height: 24px;
  background-color: @brand-primary;
  border: 2px solid @grey-darker;
  text-align: center;
  position: absolute;
  color: @white;
  margin-top: -20px;
  font-size: @font-size-14;
  top: 50%;
  left: 50%;
}
