.progress-bar-label{
  .w100;
  font-size: @font-size-l;
  text-align: center;
  margin-bottom: 15px;
}

.progress-bar{
  .border-box;
  .base-height;
  .app-border-radius(6px);
  border: 1px solid @grey-lighter;
  height: 10px;

  .inner{
    .border-box;
    .app-border-radius(6px 0 0 6px);
    background-color: @brand-primary;
    height: 8px;

    &.full{
      .app-border-radius(6px);
    }
  }
}