// Radiobutton
// -------------------------------

.radio-buttons{
  margin:0 0 0.75em 0;

  input[type="radio"] {
    display: none !important;
  }

  input[type="radio"] + label {
    .bold;
    .noselect;
    color: @grey-base;
    font-size: @font-size-16;
    padding-left: 0;
  }

  input[type="radio"] + label span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: -5px 25px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
  }

  input[type="radio"] + label span {
    border: 1px solid @grey-light;
    background-color: transparent;
    cursor: pointer;
  }

  input[type="radio"]:checked + label span{

  }

  input[type="radio"]:checked + label span::after {
    content : url("@{images}/radio-point.png");
    position: relative;
    top: -3px;
  }

  &.disabled,
  &[disabled]{
    opacity: 0.4;
    cursor: inherit;

    input[type="radio"] + label span {
      cursor: inherit;
    }

    input[type="radio"]:checked + label span::after {
      content: none;
    }
  }
  
  &:last-child {
    margin-bottom: 0;

    label {
      padding-bottom: 0;
    }
  }

}