// Scrollbars
// --------------------------------------------------
::-webkit-scrollbar {
  width: 5px;  /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track-piece{
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: @brand-primary;
  border-radius: 50px;
  -webkit-border-radius: 50px;
}