.tb-dropdown-menu{
  .no-list;
  .w100;
  .app-box-shadow;
  .border-box;
  color: @grey;
  border: 1px solid @grey-lighter;
  outline-style: none;
  font-size: @font-size-18;

  li{
    min-height: 37px;
    line-height: 37px;
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    border-bottom: 1 solid @grey-lighter;

    &.selected{
      background-repeat: no-repeat;
      background-position: right+20px center;
      background-image: url("@{images}/good.png");
    }

    &:nth-child(2n+2):not(.seamless){
      background-color: #fafafa;
    }

    &:last-child{
      border-bottom: 0 solid transparent;
    }

    &:hover{
      background-color: @grey-ultralight;
    }
  }

  &.submenu{
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
  }
}


.tb-select {
  .border-box;
  .app-border-radius;
  .inp-size;
  .app-ellipsis;
  font-size: @font-size-xl;
  cursor: pointer;
  transition: background 0.2s;
  padding-left: 10px;
  padding-right: 42px;
  border: 1px solid @grey-lighter;
  outline-style: none;
  background-repeat: no-repeat;
  background-position: right+20px center;
  background-image: url("@{images}/select-arrow-blue-down.png");

  // advenced
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover,
  &.selected{
    border-color: @grey-light;
  }

  &:focus,
  &.open{
    .app-border-radius(4px 4px 0 0);
    color: @grey-dark;
    background-image: url("@{images}/select-arrow-blue-up.png");
    border-color: @grey-light;
  }

  &.disabled,
  &[disabled] {
    opacity: 0.4;
    cursor: inherit;
  }


  &.datepicker{
    background-position: right+20px center;
    background-image: url("@{images}/datapicker.png");
    padding-right: 35px;

    &.open{
      .app-border-radius;
      background-image: url("@{images}/datapicker-open.png");
    }
  }

  &.slc-small{
    .btn-size-small;
    font-size: @font-size-l;
    background-position: center right+12px;
    max-width: 170px;
  }


  &.slc-big{
    font-size: @font-size-4xl;
    height: @big-height;
    min-width: @big-width;
    max-width: @big-width;
    background-image: url("@{images}/select-arrow-blue.png");

    &:focus {
      background-image: url("@{images}/select-arrow-blue-up.png");
      font-weight: normal;
    }
  }
}

select {
  .tb-select;
}

.tb-select.selectpicker::-ms-expand { /* for IE 11 */
  display: none;
}


.rangepicker{
  min-width: 215px;
  .app-border-radius;
  .border-box;
  color: @grey-dark;
  border: 1px solid @grey-lighter;
  outline-style: none;
  height: @base-height;
  background-image: url("@{images}/datapicker.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover,
  &.selected{
    //background-color: @brand-primary-dark;
    border-color: @grey-light;
  }

  &.disabled,
  &[disabled] {
    opacity: 0.4;
    cursor: inherit;

    input{
      cursor: inherit;

      &:focus {
        .normal;
        color: @grey;
      }
    }
  }

  input{
    text-align: center;
    border: 0 solid transparent;
    height: @base-height - 2px;
    width: 40%;
    background-color: transparent;
    outline-style: none;
    padding-top: 0;
    font-size: @font-size-xl;
    color: @grey;

    &:focus {
      .bold;
      color: @grey-dark;
    }

    &:last-child{
      float: right;
    }
  }
}

