// Table
//---------------------------------------------------------------

.basic-table{
  display: table;
  width: 100%;
  height: 100%;

  .tr{

    &:first-child{
      .td{
        .bold;
        border-bottom: 1px solid @grey-ultralight;
        color: @grey-dark;
      }

      &:hover{
        background-color: transparent !important;
      }
    }

    &:last-child{
      .td{
        border-bottom: 1px solid @grey-ultralight;
      }
    }

    &:nth-child(2n+3){
      .grey-ultralight3-bg;
    }

    &:hover{
      background-color: #F8F8F8;
    }
  }

  .td{
    display: table-cell;
    height: 50px;
    vertical-align: middle;

    .detail{
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("@{images}/detail-blue.png");
      width: 25px;
      height: 23px;
      cursor: pointer;
    }

    .settings{
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("@{images}/widget-icon-settings2.png");
      width: 21px;
      height: 22px;
    }

    .fullscreen {
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("@{images}/fullscreen.png");
      width: 21px;
      height: 22px;

      &.active {
        background-image: url("@{images}/fullscreen-active.png");
      }
    }

    &:first-child{
        padding-left: 20px;
    }

    &:last-child{
        padding-right: 20px;
    }
  }
}


.detail{
  background-image: url("@{images}/detail-blue.png");
  margin: 0 auto;
  .basic-background;
  height: 60px;
  width: 25px;
  cursor: pointer;
}

.detail-dim{
  background-image: url("@{images}/detail-blue.png");
  margin: 0 auto;
  .basic-background;
  height: 60px;
  width: 25px;
  cursor: pointer;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity:0.5;
}

.filter {
  background-image: url("@{images}/filter.png");
  margin: 0 auto;
  .basic-background;
  height: 60px;
  width: 25px;
  cursor: pointer;
}

.filter-dim {
  background-image: url("@{images}/filter.png");
  margin: 0 auto;
  .basic-background;
  height: 60px;
  width: 25px;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity:0.5;
}

.settings{
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("@{images}/widget-icon-settings2.png");
  width: 21px;
  height: 22px;
}

// open line
/* .opened-line{
   .pad20;

    margin-bottom: 20px;
    font-size: @font-size-18;

    .tr{
      background-color: @white;
      .app-box-shadow;

      &.first-line,
      &.no-back{
        background-color: transparent;
        .app-box-shadow(0 0px 0px rgba(0,0,0,0.0));
        padding-bottom: 0 !important;
        padding-top: 0 !important;
      }

    }

    .td{
      margin-bottom: 5px;

      &.arrow{
        min-width: 20px;
        background-position: right center;
        background-repeat: no-repeat;
        background-image: url("@{images}/select-arrow-blue-down.png");
      }
    }

    .basic-table .tr:last-child .td {
      border-bottom: 0 solid transparent;
    }
  }
*/

