.tabs{
  .app-border-radius;
  border: 1px solid @grey-ultralight;
  height: 40px;
  width: 3 * 80px;

  button.tab-item{
    font-family: "nimbus_sans_d_otregular";
    .btn-size-small;
    .app-ellipsis;
    vertical-align: inherit;
    text-align: center;
    background-color: @white;
    min-width: 80px;
    max-width: 80px;
    font-size: @font-size-xl;
    cursor: pointer;
    float: left;
    color: @grey-base;
    border-right: 1px solid @grey-ultralight;
    border-radius: 0;
    transition: all 0.5s;

    &[disabled],
    &[disabled]:hover,
    &.disabled,
    &.disabled:hover{
      background-color: @grey-ultralight;
      color: @grey-base;
      opacity: 1;
      cursor: inherit;
    }

    &:first-child{
      border-radius: 2px 0 0 2px;
    }

    &:last-child{
      border-radius: 0 2px 2px 0;
      border-right: 0 solid transparent;
    }

    &:hover{
      background-color: @brand-primary;
      color: @white;
    }

    &.selected{
      background-color: @brand-primary;
      color: @white;

      &:hover{

      }
    }
  }

}

//
.box-tabs{
  .app-border-radius(0px);
  .border-box;

  .tab{
    .app-ellipsis;
    .border-box;
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    float: left;
    border-radius: 0;
    transition: all 0.5s;
    background-color: #f5f5f5;
    color: @grey-base;
    border-right: 1px solid #e1e1e1;
    overflow: visible;
    min-width: inherit;
    max-width: inherit;

    .tab-count{
      position: relative;
      top: -66px;
      left: -10px;
    }

    &[disabled],
    &[disabled]:hover,
    &.disabled,
    &.disabled:hover{
      background-color: @grey-ultralight;
      color: @grey-base;
      opacity: 1;
      cursor: inherit;
    }

    &:hover{
      background-color: @white;
      color: @blue;
      border-right: 1px solid transparent;
    }

    &.selected{
      border-right: 1px solid @white;
      background-color: @white;
      color: @blue;

      &:hover{

      }
    }
  }

  &.bt-2-tabs .tab{
    .fblock-p2;
    &:nth-child(2){
      border-right: 1px solid transparent;
    }
  }

  &.bt-3-tabs .tab{
    .fblock-p3;
    &:nth-child(3){
      border-right: 1px solid transparent;
    }
  }

  &.bt-4-tabs .tab{
    .fblock-p4;
    &:nth-child(4){
      border-right: 1px solid transparent;
    }
  }

  &.bt-5-tabs .tab{
    .fblock-p5;
    &:nth-child(5){
      border-right: 1px solid transparent;
    }
  }

  &.bt-6-tabs .tab{
    .fblock-p6;
    &:nth-child(6){
      border-right: 1px solid transparent;
    }
  }

}