body.login-page{
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("@{images}/login-background.png");
}

.login-box{
  .app-box-shadow;
  .mar-center;
  .white-bg;
  width: 540px;
  padding: 40px 80px;
  margin-bottom: 4px;

  &.with-code{
    padding: 40px;
    width: 660px;

    .code img{
      .mar-center;
      width: 130px;
      height: 130px;
    }
  }

  &.l-b-warning{
    padding: 20px;

    .warning-symbol{
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 100%;
      background-image: url("@{images}/sign-warr.png");
      height: 33px;
      width: 33px;
    }
  }

  &.l-b-app{
    background-color: transparent !important;
    .app-box-shadow(0 0 0 rgba(0, 0, 0, 0));
    padding: 20px 0;
    .grey;

    .app-shop{
      background-position: center;
      background-repeat: no-repeat;
      height: 35px;
      width: 106px;
      cursor: pointer;

      &:hover{
        opacity: 0.8;
      }

      &.google{
        background-image: url("@{images}/btn-google.png");
      }

      &.appstore{
        background-image: url("@{images}/btn-appstore.png");
        margin-left: 1%;
      }
    }
  }
}