.content

    br
    br

    h1 Buttons, radiobuttons, checkboxes

    br
    br

    .grind-box

        | Normal
        br
        br
        button Primary button

        br
        br

        | Selected
        br
        br
        button.selected Primary button

        br
        br

        | Disabled
        br
        br
        button(disabled="disabled") Primary button

        br
        br


    .grind-box

        | Normal
        br
        br
        button.alt-btn Alternative button

        br
        br

        | Selected
        br
        br
        button.alt-btn.selected Alternative button

        br
        br

        | Disabled
        br
        br
        button.alt-btn(disabled="disabled") Alternative button

        br
        br

    .grind-box

        | Normal
        br
        br
        button.btn-small Secondary button

        br
        br

        | Selected
        br
        br
        button.btn-small.selected Secondary button

        br
        br

        | Disabled
        br
        br
        button.btn-small(disabled="disabled") Secondary button

        br
        br

    .grind-box.marright0

        | Normal
        br
        br
        button.alt-btn.btn-small Alternative button

        br
        br

        | Selected
        br
        br
        button.alt-btn.btn-small.selected Alternative button

        br
        br

        | Disabled
        br
        br
        button.alt-btn.btn-small(disabled="disabled") Alternative button

        br
        br
    .clear

    br
    br