.content.padtop100.padbott100
    .w100.text-center
        h2 Změna hesla krok 1/3
            a.float-rg ?
            .clear

    .gb-1

    .gb-2
        .w100.marbott20
            .fblock30.text-right
                .line
                    | Enter old password:

            .fblock70
                .inp
                    input(type="password", placeholder="Enter login name")

            .clear

        .w100.marbott20
            .fblock30.text-right
                .line
                    | Enter new password:

            .fblock70
                .inp.password
                    input(type="password", placeholder="Enter password")
                    .strength.pass-str-6
                        // numbers: 1 - 7, 1 -  weak, 7 - strength
                    .clear
            .clear

        .w100.marbott20
            .fblock30.text-right
                .line
                    | Re-Enter password:

            .fblock70
                .inp
                    input(type="password", placeholder="Enter password")
                    .clear
            .clear

    .gb-1.last

    .clear


    .gb-4.last.martop40

        .fblock-p2.text-align-right.padright10
            button.alt-btn  Back

        .fblock-p2.padleft10
            button Continue

    .clear


