.content.padtop100.padbott100
    .w100.text-center
        h2 Změna hesla krok 2/3
            a.float-rg ?
            .clear

    .gb-1

    .gb-2
        .w100.marbott20.text-center
            | Požiadavku na změnu hesla musíte certifikovať

        .w100.marbott40
            | Identifikátor operácie: 000-000-000

        .w100.marbott20.text-center.border.pad20
            | CERTIFIKAČNÝ BLOCK
            BR
            | KARTA A ČÍTAČKA


    .gb-1.last

    .clear


    .gb-4.last.martop40

        .fblock-p2.text-align-right.padright10
            button.alt-btn  Back

        .fblock-p2.padleft10
            button Change

    .clear


