// Layouts
br
br

h1 Layout

br
br

.gb-3
    .w100.pad20i.grey-lighter-bg.marbott20

        .opened-line-header.fb-row
            .star
            .acc Moje účty
            .balance Disponibilní zostatok
            .balance2 Účtový zostatek
            .curr mena
            .arrow

        .opened-line.open-line
            .star
            .acc
                span Vestibulum ruismod
                br
                span.normal 98765434567890
            .balance 3 500 400,00
            .balance2 3 200 500,10
            .curr EUR
            .arrow

            br
            br
            br
            br
            br


        .opened-line
            .star
            .acc
                span Vestibulum ruismod
                br
                span.normal 98765434567890
            .balance.red - 3 500 400,00
            .balance2.red - 3 200 500,10
            .curr EUR
            .arrow

        .opened-line
            .star
            .acc
                span Vestibulum ruismod
                br
                span.normal 98765434567890
            .balance 3 500 400,00
            .balance2 3 200 500,10
            .curr EUR
            .arrow

        .opened-line.open-line.no-back
            .star
            .acc
                span Vestibulum ruismod
                br
                span.normal 98765434567890
            .balance 3 500 400,00
            .balance2 3 200 500,10
            .curr EUR
            .arrow

        .opened-line.open-line.no-back
            .star
            .acc
                span Vestibulum ruismod
                br
                span.normal 98765434567890
            .balance 3 500 400,00
            .balance2 3 200 500,10
            .curr EUR
            .arrow

        button.btn-small.martop30 Přehled všetkých účtov(25)

    .w100.pad20i.marbott20.grey-lighter-bg
        .fb-row
            .fb85
                .opened-line.abandoned-line
                    .name Všetky účty
                    .arrow

            .fb7a5
                div.detail
            .fb7a5
                div.filter

        .fb-row
            div.detail
            div.detail-dim
            div.filter
            div.filter-dim

        .box-big.box-table
            .table.basic-table
                .tr
                    .td Ridiculus
                    .td Bibendum
                    .td Commodo
                    .td Item 1
                    .td Item 2
                    .td
                        .settings

                .tr
                    .td 7.5.2015
                    .td
                        span.bold Vestibulum ruismod
                        br
                        span.grey 98765434567890
                    .td Vivamus sagittis lacus vel augue
                    .td 200 000 000,00
                    .td EUR
                    .td
                        .detail

                .tr
                    .td 7.5.2015
                    .td
                        span.bold Vestibulum ruismod
                        br
                        span.grey 98765434567890
                    .td Vivamus sagittis lacus vel augue
                    .td 200 000 000,00
                    .td EUR
                    .td
                        .detail

                .tr
                    .td 7.5.2015
                    .td
                        span.bold Vestibulum ruismod
                        br
                        span.grey 98765434567890
                    .td Vivamus sagittis lacus vel augue
                    .td 200 000 000,00
                    .td EUR
                    .td
                        .detail

            .box-footer.fb-row
                .fblock-p3.bold
                    .inline-block.marright10
                        | Per page&nbsp;
                        a 6
                    .inline-block
                        | 300 results

                .fblock-p3
                    .steper
                        a 1
                        a 2
                        a 3
                        a.active 4
                        a 5
                        a 6
                        span . . . .
                        a 80

                .fblock-p3.text-align-right.bold
                    .inline-block
                        | Per page&nbsp;
                        a 6
                    .inline-block
                        | Jump to page&nbsp;
                        a 2

    .w100.padright20i.padleft20i
        .box-big.box-table
            .box-header.header-menu.fb-row
                .hm-item.active Section one
                .hm-item Section two
                .hm-item Section tree
                    .noti 32
                .hm-item Section four


            .table.basic-table
                .tr
                    .td Ridiculus
                    .td Bibendum
                    .td Commodo
                    .td Item 1
                    .td Item 2

                .tr
                    .td 7.5.2015
                    .td
                        span.bold Vestibulum ruismod
                        br
                        span.grey 98765434567890
                    .td Vivamus sagittis lacus vel augue
                    .td 200 000 000,00
                    .td EUR

                .tr
                    .td 7.5.2015
                    .td
                        span.bold Vestibulum ruismod
                        br
                        span.grey 98765434567890
                    .td Vivamus sagittis lacus vel augue
                    .td 200 000 000,00
                    .td EUR

                .tr
                    .td 7.5.2015
                    .td
                        span.bold Vestibulum ruismod
                        br
                        span.grey 98765434567890
                    .td Vivamus sagittis lacus vel augue
                    .td 200 000 000,00
                    .td EUR

            .box-footer
                .w100.fb-row
                    button.btn-small.float-rg Secondary button
                    //.float-rg

                    select.slc-small.selectpicker.float-rg.marright20(placeholder="Vyber si údaj")
                        option

                    .line-small.float-rg.grey Choose from


        .box-big.box-table
            .box-header
                h2 Lorem ipsum dolorem

            .table.basic-table
                .tr
                    .td Ridiculus
                    .td Bibendum
                    .td Commodo
                    .td Item 1
                    .td Item 2

                .tr
                    .td 7.5.2015
                    .td
                        span.bold Vestibulum ruismod
                        br
                        span.grey 98765434567890
                    .td Vivamus sagittis lacus vel augue
                    .td 200 000 000,00
                    .td EUR

                .tr
                    .td 7.5.2015
                    .td
                        span.bold Vestibulum ruismod
                        br
                        span.grey 98765434567890
                    .td Vivamus sagittis lacus vel augue
                    .td 200 000 000,00
                    .td EUR

                .tr
                    .td 7.5.2015
                    .td
                        span.bold Vestibulum ruismod
                        br
                        span.grey 98765434567890
                    .td Vivamus sagittis lacus vel augue
                    .td 200 000 000,00
                    .td EUR

            .box-footer.fb-row
                .fblock-p3.bold
                    .inline-block.marright10
                        | Per page&nbsp;
                        a 6
                    .inline-block
                        | 300 results

                .fblock-p3
                    .steper
                        a 1
                        a 2
                        a 3
                        a.active 4
                        a 5
                        a 6
                        span . . . .
                        a 80

                .fblock-p3.text-align-right.bold
                    .inline-block
                        | Per page&nbsp;
                        a 6
                    .inline-block
                        | Jump to page&nbsp;
                        a 2


            .box-footer
                .w100
                    button.btn-small Secondary button

.gb-1.last

    .box-small
        .box-title Malesuada
            .box-setting

        .box-inner
            | Praesent
            br
            br
            | Commodo cursus
            br
            br
            | Magna
            br
            br
            br
            a Link

    .box-small.fb-row
        .box-title Malesuada

        .box-inner
            ul.box-menu
                li Praesent commodo
                    .count 1
                li.disabled Sollicitudin lorem
                    .count 1
                li Magnarumus scelerisque
                    .count 1
                li Ultriciesparturient
                    .count 1

.clear
    
.gb-3
    .w100.pad20i

        .box-navi
            .box-step.active Step 1
            .box-step Step 2
            .box-step Step 3
            .box-step Step 4

.clear