.fb-row.padtop100.padbott100

    .login-box(style="z-index:90;")
        .w100.marbott20
            label
                | Vyberte klienta

            select.selectpicker
                option User 2


            ul.tb-dropdown-menu
                li User 1
                li User 2
                li User 3
                li User 4



        .fb-row.martop40

            .fblock-p2

            .fblock-p2.fb-row
                button.float-rg Pokračovat


    .login-box.l-b-app(style="z-index:100;")
        .fb-row
            .fb60
                span.fs-18 Vyzkoušejte také naší mobilní aplikaci
                br
                span.fs-14 pro tablety a smartfony

            .fb40.fb-row
                .app-shop.appstore.float-rg
                .app-shop.google.float-rg

