.content.padtop100.padbott100
    .w100
        a.float-rg SK
        .clear

    .gb-1

    .gb-2
        .w100.marbott20
            .fblock30.text-right
                .line
                    | * Login name:

            .fblock70
                .inp.iblock
                    input(type="text", placeholder="Enter login name")

            .clear

        .w100.marbott20
            .fblock30.text-right
                .line
                    | * Password:

            .fblock70
                .inp.password
                    input(type="password", placeholder="Enter password")
                    .strength.pass-str-6
                        // numbers: 1 - 7, 1 -  weak, 7 - strength
                    .clear
            .clear
    .gb-1.last

    .clear

    .gb-3

    .gb-4.last.martop40

        .fblock-p2

        .fblock-p2.padleft10
            button Login




    .clear


