.warning-message.app-box-shadow-lite
    | Warning message
    //.close-button

.fb-row.padtop100.padbott100

    .login-box.with-code(style="z-index:90;")

        .fb-row

            .fb25
                .code
                    img(src="images/qr.jpg")

            .fb75.padleft40
                .w100.marbott25
                    | Pre vygenerovanie kodu čítačce zvolte funkciu PODPIS do čítačky výzvu 57822002
                .inp.marbott40
                    label Zadejte kod z čítačky
                    input

                .w100.fb-row
                    button.float-rg Pokračovat

