.warning-message.app-box-shadow-lite
    | Warning message
    .close-button
.fb-row.padtop60.padbott100


    .login-box(style="z-index:90;")
        .w100.marbott20
                label
                    | * Login name:

                .inp.iblock
                    input(type="text", placeholder="Enter login name")


        .w100.marbott20
            .w100
                label
                    | * Password:

                .inp.iblock
                    input(type="password", placeholder="Enter password")


        .fb-row.martop40

            .fblock-p2

            .fblock-p2.fb-row
                button.float-rg Login


    .login-box.l-b-warning(style="z-index:100;")
        .fb-row
            .fb10
                .warning-symbol
            .fb90.red
                span.fs-18 Upozornenie:&nbsp;
                span.fs-14 Tatra banka nebude od vás nikdy vyžadovat zadávanie iných údajov ako prihlasovacich.


    .login-box.l-b-app(style="z-index:100;")
        .fb-row
            .fb60
                span.fs-18 Vyzkoušejte také naší mobilní aplikaci
                br
                span.fs-14 pro tablety a smartfony

            .fb40.fb-row
                .app-shop.appstore.float-rg
                .app-shop.google.float-rg

