// Selects, dropdowns and calendars
.content

   br
   br

   h1 Selects, dropdowns and calendars

   br
   br

   .fblock-p3.padright40
       br
       br
       .inp.datepicker
           input(type="text")

       //select.datepicker
           option dsfsffsd

   .fblock-p3.padright40
       br
       br

       .inp.datepicker.open
           input(type="text")

       //select.datepicker.open
           option dsfsffsd

       .calendar-dates
           .calendar-point
           .calendar-month-year
               span.arrow-cal-double-left(ng-click='prevHandler()')
               span.arrow-cal-left(ng-click='prevHandler()')
               | December 2015
               span.arrow-cal-double-right(ng-click='nextHandler()')
               span.arrow-cal-right(ng-click='nextHandler()')

           table
               tr
                   td Mo
                   td Tu
                   td We
                   td Th
                   td Fr
                   td Sa
                   td Su

               tr
                   td.disabled 29
                   td.disabled 30
                   td 1
                   td 2
                   td 3
                   td 4
                   td 5

               tr
                   td 6
                   td.today 7
                   td 8
                   td 9
                   td 10
                   td 11
                   td 12

               tr
                   td 13
                   td 14
                   td 15
                   td 16
                   td 17
                   td 18
                   td 19

               tr
                   td 20
                   td 21
                   td 22
                   td 23
                   td.selected 24
                   td 25
                   td 26

               tr
                   td 27
                   td 28
                   td 29
                   td 30
                   td 31
                   td.disabled 1
                   td.disabled 2


   .fblock-p3.padright40
       span.grey Selected *
       br
       br
       select.selectpicker
           option dsfsffsd

       ul.tb-dropdown-menu
           li něco
           li něco jineho
           li.selected uplně jine
           li extra jine



   .clear

   br
   br